- content_tag :tr, download, :class => "list_item #{cycle('odd','even')}"  do 
  %td.title
    = download.title
    - if download.tags.present?
      %br
      %span.small
        = "Tags:" 
        = download.tags
  %td.path= link_to truncate_center(download.asset_file_name, 40), download.asset.url, :title => download.asset.url, :class => "small"
  %td.type= image_tag ("#{download.asset_content_type}.gif")
  %td.size= number_to_human_size(download.asset_file_size)
  %td.locale= image_tag("#{download.language}.gif") 
  %td.button_group
    = link_to "Bearbeiten", edit_admin_download_path(download), :class => "edit_link", :title => "Bearbeiten"  
    = link_to "Löschen", admin_download_path(download), :method => :delete, :confirm => "Sind Sie sicher?", :class => "delete_link", :title => "Löschen"
