%p
  = f.label :title, "Name"
  %br
  = f.text_field :title

%p
  = f.label :language, "Sprache"
  %br
  = f.select :language, [["Deutsch","de"],["Englisch","en"],["Deutsch/Englisch", "de/en"]]

%p
  = f.label :issue, "Publikation, Ausgabe"
  %br
  = f.text_field :issue

%p
  = f.label :publication_date, "Erscheinungsdatum"
  %br
  = f.date_select :publication_date, :discard_day => true
%p
  = f.label :asset, "Datei"
  %br
  = f.file_field :asset
  = link_to f.object.asset.url, f.object.asset.url unless f.object.new_record?

%p
  = f.label :tag_list, "Tags (Bsp: 'presse') separieren mit Komma:"
  = f.text_field :tag_list, :size => 80

%p.small
  Existierende Tags:
  %br
  %span.tags
    - Tag.all.each do |tag|
      = link_to tag.name, "#", :class => "tag tag_#{tag.name}", :"data-tag" => tag.name
  
%hr
%h1= "Anwendungsgebiete (A-Z)"
%ul.application_fields
  - ApplicationField.ordered_name.each do |application_field|
    - unless application_field.children.present?
      %li
        = check_box_tag 'download[application_field_ids][]', application_field.id, f.object.application_fields.include?(application_field)
        %label= application_field.title_de
        
%hr
%h1= "Supergruppen (A-Z)"
%ul.application_fields
  - SuperGroup.ordered_name.each do |super_group|
    %li
      = check_box_tag 'download[super_group_ids][]', super_group.id, f.object.super_groups.include?(super_group)
      %label= super_group.title_de