= link_go_back admin_downloads_path, :class => "right"

%h1="Download bearbeiten"

- form_for @download, :url => admin_download_path(@download), :html => { :multipart => true }, :method => :update do |f|
  = f.error_messages
  = render "form", :f => f
  = submit_button("Aktualisieren",f,:cancel_path => admin_downloads_path, :class => "right")
  