= link_to "Download erstellen", new_admin_download_path, :class => "right post_new_link" 
%h1 Downloads

%table.posts{ :cellspacing => "0", :cellpadding => "0", :border => "0" }
  %th Name
  %th Pfad
  %th Typ
  %th Grösse
  %th Sprache
  = render @downloads
  
= will_paginate @downloads