= link_go_back admin_downloads_path, :class => "right"

%h1="Download erstellen"

- form_for @download, :url => admin_downloads_path, :html => {:multipart => true, :method => :post } do |f|
  = f.error_messages
  = render "form", :f => f
  = submit_button("Erstellen",f,:cancel_path => admin_downloads_path, :class => "right")
