- content_tag :tr, application_field, :class => "list_item #{cycle('odd','even')}" do
  %td.post_title= "(#{application_field.id}) #{truncate(application_field.title_de, 40)} -#{application_field.id}-"
  %td.button_group
    = link_to "Bearbeiten", edit_admin_application_field_path(application_field), :class => "edit_link", :title => "Bearbeiten"
    =# link_to t(:delete), admin_application_field_path(application_field), :method => :delete, :confirm => "Sind Sie sicher?", :class => "delete_link", :title => "Löschen"
    = link_to "Hoch", move_higher_admin_application_fields_path(:id => application_field.id), :method => :post, :class => "move_higher_link", :title => "Position: nach oben"
    = link_to "Runter", move_lower_admin_application_fields_path(:id => application_field.id), :method => :post, :class => "move_lower_link", :title => "Position: nach unten"
    = link_to "Löschen", admin_application_field_path(application_field), :method => :delete, :confirm => "Sind Sie sicher?", :class => "delete_link", :title => "Löschen"