%table{ :width => "100%"}
  %tr
    %td
      %h2.de= "Deutsch"

      %p
        = f.label :title_de, "Titel (DE)"
        %br
        = f.text_field :title_de
  
      %p
        = f.label :text_de, "Text (DE)"
        %br
        = f.text_area :text_de
      %p
        = f.label :main_header_de, "Überschrift (DE)"
        = f.text_field :main_header_de
    %td
      %h2.en= "Englisch"

      %p
        = f.label :title_en, "Title (EN)"
        %br
        = f.text_field :title_en
  
      %p
        = f.label :text_en, "Text (EN)"
        %br
        = f.text_area :text_en
      %p
        = f.label :main_header_en, "Überschrift (EN)"
        = f.text_field :main_header_en

%p
  = f.label :column_header_1_id
  = f.text_field :column_header_1_id
  
%p
  = f.label :column_header_2_id
  = f.text_field :column_header_2_id

%p.note
  = "Einfache Textformatierungen:"
  %br
  = "*fett*, \"link\":http://www.link.de, mehr Beispiele hier: #{link_to 'textile', 'http://www.textism.com/tools/textile/', :class => 'view_website'}"