= link_go_back admin_application_fields_path, :class => "right"
%h1="Anwendungsgebiet bearbeiten"

- form_for @application_field, :url => admin_application_field_path(@application_field), :method => :update do |f|
  = f.error_messages
  = render "form", :f => f
  = submit_button("Aktualisieren",f,:cancel_path => admin_application_fields_path, :class => "right")
