= link_to "Anwendungsgebiet erstellen", new_admin_application_field_path, :class => "right  post_new_link" 

%h1 Anwendungsgebiete
= link_to "Download CSV-Datei", admin_application_fields_path(:format => "csv")
= link_to "Download CSV-Datei (application_field_products)", admin_application_field_products_path(:format => "csv")

%table.posts{ :cellspacing => "0", :cellpadding => "0", :border => "0" }
  %th Titel (DE)
  = render @application_fields
  
= will_paginate @application_fields