id,parent_id,position,permalink,title_de,title_en,text_de,text_en,main_header_de,main_header_en,column_header_1_id,column_header_2_id,created_at,updated_at
<%= FasterCSV.generate do |csv|
  ApplicationField.all(:order => "id ASC").each do |ap|
    csv << [ ap[:id],ap[:parent_id],ap[:position],ap[:permalink],ap[:title_de],ap[:title_en],ap[:text_de],ap[:text_en],ap[:main_header_de],ap[:main_header_en],ap[:column_header_1_id],ap[:column_header_2_id],ap[:created_at],ap[:updated_at] ]
  end
end %>