= link_go_back admin_application_fields_path, :class => "right"

%h1="Anwendungsgebiet erstellen"

- form_for @application_field, :url => admin_application_fields_path, :html => { :method => :post } do |f|
  = f.error_messages
  = render "form", :f => f
  = submit_button("Erstellen",f,:cancel_path => admin_application_fields_path, :class => "right")
