= mitte_bild("mittebild0.jpg")

= main_header(:header => t("Downloads.index.main_header"))

= bereichs_subheader(@bereich, :header => "Downloads")


%ul#accordion
  %li
    = link_to I18n.t(:general), "##{I18n.t(:general).downcase}", :class => "heading"
    %ul{ :id => "allgemein" }
      %li= link_to_broschure
      %li= link_to_broschure(:language => "fr-nl")
      - if I18n.locale.to_s == "de"
        %li= link_to "Umweltleitlinien (PDF)", "http://production.harold-scholz.de/pdfs/Umweltleitlinien.pdf", :target => "_blank", :onClick => "_gaq.push(['_trackEvent','Umweltleitlinien.pdf','PDF',this.href]);"

  - ApplicationField.roots.ordered.each do |parent_field|
    - if !parent_field.children.blank?
      - parent_field.children.each do |application_field|
        - unless application_field.downloads.send(I18n.locale.to_s).blank?
          %li
            = link_to "#{localized_attr_for(parent_field, :title)} | <span>#{localized_attr_for(application_field, :title)}</span>", "##{application_field.permalink}", :class => "heading"
            %ul{ :id => application_field.permalink}
              - tag_counts = application_field.downloads.send(I18n.locale.to_s).tag_counts
              - tag_counts.each do |tag|
                %li.tag= tag.name.upcase
                = render application_field.downloads.send(I18n.locale.to_s).find_tagged_with(tag.name)
    - else
      - unless parent_field.downloads.send(I18n.locale.to_s).blank?
        %li
          = link_to "#{localized_attr_for(parent_field, :title)}", "##{parent_field.permalink}", :class => "heading"
          %ul{ :id => parent_field.permalink}
            - tag_counts = parent_field.downloads.send(I18n.locale.to_s).tag_counts
            - tag_counts.each do |tag|
              %li.tag= tag.name.upcase
              = render parent_field.downloads.send(I18n.locale.to_s).find_tagged_with(tag.name)
      