= mitte_bild("mittebild3.jpg")

= main_header(:header => t("People.index.main_header"))

= bereichs_subheader(@bereich, :header => t("People.index.header"))

%ul.anchor_list
  - @companies.each do |company|
    %li= link_with_arrow(company.name_de, "##{company.name_de.parameterize}", :bereich => @bereich)
- @companies.each do |company|
  %a{:name => company.name_de.parameterize}
  %h2{ :class => "company_header bereich_#{@bereich}" }= company.name_de
  .company
    - company.children.each do |department|
      - if department.people.present?
        - unless department.name_de == "Ansprechpartner"
          %h3.department_header
            = department.name_de
            %span.en= department.name_en
          
        .people
          - department.people.ordered.each do |person|
            %span.person
              = image_tag(person.picture.url(:normal))
              %br
              %b= person.full_name
              %span= person.designation_de
          .clearfix
        .clearfix
        = link_to_top(:bereich => @bereich)