- content_tag :li, :id => "product_group_#{product_group.id}" do
  = link_to localized_attr_for(product_group, "title"), {}
  %i
  .application_fields
    .header= "Anwendungsgebiete"
    - application_fields_hash = product_group.products.find(:all, :include => :application_fields).map {|p| p.application_fields}.flatten(1).uniq.sort_by {|ap| ap.send("position")}.group_by {|t| t.parent_id.to_i } 
    - unless application_fields_hash.blank?
      - application_fields_hash.sort.each do |application_field_id, application_fields|
        %div
          - unless application_field_id == 0
            %h4= localized_attr_for(ApplicationField.find(application_field_id), :title)
          %ul.anchor_list              
            - for application_field in application_fields
              %li= link_to localized_attr_for(application_field, :title), application_field_path(application_field.children.present? ? application_field.children.first : application_field, :anchor => product_group.permalink), :class => "arrow_link bereich_#{@bereich}_arrow_e" if application_field