- content_tag :li, :id => "super_group_#{super_group.id}" do
  = link_to s3_image_tag("supergroups/#{super_group.permalink}_thumb.jpg", :class => "super_group_image", :alt => super_group.permalink), super_group_path(super_group, :id => super_group.permalink)
  = link_to localized_attr_for(super_group, "title"), super_group_path(super_group, :id => super_group.permalink)