= content_for(:title) do
  = t("Super_groups.index.header") + ": "
  = @super_groups.map {|sg| localized_attr_for(sg,'title') }.join(" | ")

= main_header(:header => t("Super_groups.index.main_header"))

= mitte_bild("mittebild4.jpg")

= bereichs_subheader(@bereich, :header => t("Super_groups.index.header"))


        
%ul#super_groups
  = render @super_groups