= content_for(:title) do
  = localized_attr_for(@super_group, "title")

= main_header(:header => t("Super_groups.index.main_header"))

= mitte_bild(s3_image_path("supergroups/sg-header-#{@super_group.permalink}.jpg"))

= link_to t("Super_groups.back_to"), super_groups_path, :class => "small", :style => "margin-bottom:20px;display:block;"


- if @product_groups.present?
  .super_group_product_groups{ :class => @super_group.permalink}
    %p= t("Super_groups.pg_list_header")
    %ul
      = render :partial => "product_group", :collection => @product_groups

= bereichs_subheader(@bereich, :header => localized_attr_for(@super_group, "title"))

.super_group{:class => @super_group.permalink}
  = localized_attr_for(@super_group, "text")
  
- if @super_group.downloads.present?
  %div{ :class => "downloads" }
    %h4{ :class => "bar bereich_#{@bereich}" } Downloads
    %ul.downloads_list
      - @super_group.downloads.send(I18n.locale.to_s).each do |download|
        %li= link_to( download.title, download.asset.url, :target => "_blank" )