= content_for(:title) do
  = t(".header") + ": "
  = @product_groups.map {|pg| pg.localized_title }.join(" | ")

= main_header

= mitte_bild("mittebild4.jpg")

= bereichs_subheader(@bereich)

%div{ :class => "bar bereich_#{@bereich}"}
  %table{ :cellpadding => "0", :cellspacing => "0"} 
    %tr
      %td
        %h4= t(".product_groups")
      %td
        %h4= t(".range_of_application")

- @product_groups.each do |product_group|
  - content_tag :table, :id => "product_group_#{product_group.id}", :class => "product_group_table" do
    %tr
      %td
        %h3.copy= localized_attr_for(product_group, :title)
      %td
        -# - aps = product_group.products.map {|p| p.application_fields}.flatten.map {|ap| ap.parent.present? ? ap.parent : ap}.uniq.sort_by {|ap| ap.send("title_" + I18n.locale.to_s)}
        - aps = product_group.products.map {|p| p.application_fields}.flatten.map {|ap| ap}.uniq.sort_by {|ap| ap.send("title_" + I18n.locale.to_s)}
        - unless aps.blank?
          %ul.anchor_list
            - aps.each do |application_field|
              -# %li= link_to localized_attr_for(application_field, :title), application_field_path(application_field.children.present? ? application_field.children.first : application_field), :class => "arrow_link bereich_#{@bereich}_arrow_e" if application_field
              %li= link_to localized_attr_for(application_field, :title), application_field_path(application_field), :class => "arrow_link bereich_#{@bereich}_arrow_e" if application_field
