= main_header(:header => "Wir machen die Welt farbiger")

= mitte_bild( "mittebild36.jpg" )

%h2{ :class => "bereich_#{@bereich}_txt" }
  ROOFOLAN®
  
%p Ein neues Produkt für die Einfärbung von Betondachsteinen und ähnlichen Produkten.
%p ROOFOLAN®, eine Acrylatdispersion zur Beschichtung von Betondachsteinen!
%p Erhältlich in allen gängigen Farbtönen der Dachsteinindustrie! Sonderfarben auf Wunsch ebenfalls lieferbar!
%p Gerne beraten wir Sie persönlich! Bitte nehmen Sie Kontakt mit uns auf!
%p Die nachfolgenden Farbkarten sind in der EDV nur annähernd darstellbar. Je nach technischer Ausstattung können die gezeigten Farbkarten von der Realität abweichen.
%p Hier finden Sie weitere Informationen zu Roofolan:

%ul.anchor_list
  %li= link_with_arrow("Produktinformation & Datenblätter", "#{APP_CONFIG[:s3_path]}/pdfs/roofolan/produktinfo.pdf", :bereich => @bereich)
  %li= link_with_arrow("Farbtonkarte der Standardtypen", "#{APP_CONFIG[:s3_path]}/pdfs/roofolan/farbtoene.pdf", :bereich => @bereich)
  