= main_header(:header => "We bring colour to the world")

= mitte_bild( "mittebild36.jpg" )

%h2{ :class => "bereich_#{@bereich}_txt" }
  ROOFOLAN®
  
%p A new product for colouring concrete roof tiles and similar products.
%p ROOFOLAN® an acrylic dispersion for the coating of concrete roof tiles!
%p Available in all shades commonly used in the roof tile industry! Special shades also available on request!
%p We would like to provide our personal advice! Please get in contact with us! The following shade cards are only approximately representable in EDP medium, depending on technical equipment the shown shade cards may differ from reality.
%p Find further details on Roofolan here:

%ul.anchor_list
  %li= link_with_arrow("Product Information", "#{APP_CONFIG[:s3_path]}/pdfs/roofolan/product_info.pdf", :bereich => @bereich)
  %li= link_with_arrow("Data Sheets", "#{APP_CONFIG[:s3_path]}/pdfs/roofolan/datasheet.pdf", :bereich => @bereich)
  %li= link_with_arrow("Shade card showing standard shades", "#{APP_CONFIG[:s3_path]}/pdfs/roofolan/farbtoene.pdf", :bereich => @bereich)
  