@charset "UTF-8"
/* CSS Document */

/* Colors */

$default_text: #666666

// Bereich 1
$bereich_1_light: #DD6D6A
$bereich_1_normal: #BC2B27
$bereich_1_dark: #982517
                
// Bereich 2    
$bereich_2_light: #7591D8
$bereich_2_normal: #2C5BCF
$bereich_2_dark: #242C77

// Bereich 3
$bereich_3_pale: #FDFAF3
$bereich_3_light: #E0C16B
$bereich_3_normal: #D5A319
$bereich_3_dark: #D58415

// Bereich 4
$bereich_4_light: #8ACA7F
$bereich_4_normal: #598A50
$bereich_4_dark: #446647

=button
  font:
    weight: bold
    size: 12px
  color: white
  border: none
  padding: 12px 14px 10px 14px
  display: inline-block
  -moz-border-radius: 10px
  -webkit-border-radius: 10px
  border-radius: 10px
  background:
    color: #999
    repeat: no-repeat
    position: 15px 7px
  text-decoration: none
  -webkit-box-shadow: 1px 1px 4px #CCC
  -moz-box-shadow: 1px 1px 4px #CCC
  box-shadow: 2px 1px 4px #CCC

/*--------------------------*/
/* STANDARD HTML TAG RESET  */
/*--------------------------*/

body, img, ul, li, form
  border: 0
  margin: 0
  padding: 0

.logout_button
  float: right
  +button
  background-color: white
  color: #333
  margin-right: 20px

/* Mixins */

=align_center
  margin-left: auto
  margin-right: auto
  
  
/* tag definitions */

/* --- Grund Layout ---*/  
html,body,div,p,table,td,h3,span,ul,ol,li,a 
  font-family: Arial, Helvetica, sans-serif
  color: $default_text

body 
  background-color: #ccc
  
a
  &:active, &:focus
    outline: none
    

h1
  font-size: 18px
  line-height: 20px
  margin-top: 0px
h2                 
  font-size: 16px  
  line-height: 18px
  margin-top: 0px 
  margin-bottom: 20px 
  height: 18px
h3                 
  font-size: 14px  
  line-height: 18px
  margin-top: 0px
h4                 
  font-size: 12px  
  line-height: 14px
  margin: 0px 
  height: 12px
  
th
  font-size: 11px
  font-weight: bold
  text-align: left

table
  font-size: 13px

sup
  font-size: 50%

p
  font-size: 12px
  line-height: 18px
  margin-top: 0px
  clear: both
  
form
  p
    margin-bottom: 10px

ul   
  margin: 12px 0 12px 0 
  padding-left: 40px
  font-size: 12px
  line-height: 14px
  
ul.application_fields,
ul.product_groups
  margin: 0
  padding: 0
  list-style: none

/* custom classes */

.even
  background-color: white
.odd
  background-color: #DDDDDD

.small      
  font-size: 10px 
  line-height: 12px 
  margin-top: 0px
  
.right
  float: right
.left
  float: left
  
.center_box
  +align_center
  position: relative
  width: 830px

.clearfix:after
  content: "."
  display: block
  height: 0
  clear: both
  visibility: hidden
  
header
  display: block
  background-color: #999
  padding-top: 20px
  h1
    margin: 0 0 20px 20px
  
#wrapper
  margin: 0 auto
  position: relative
  padding: 20px
  
#tabs
  height: 24px
  margin: 0 57px 0 20px
  padding: 0

ul#main_tabs
  margin: 0
  padding: 0
  li
    border: medium none
    display: inline
    list-style: none outside none
    margin: 0
    padding: 0
  a:link, a:visited, span
    float: left
    font-size: 13px
    font-weight: normal
    line-height: 12px
    margin: 0
    padding: 5px 9px 7px 9px
    color: white
    text-decoration: none
    &:hover
      text-decoration: underline

  a.current:link, a.current:visited, span.current
    color: #000000
  a.current:link, a.current:visited, span.current
    background: #ccc
    color: #222222
    font-weight: bold
    margin: 0 1px
    padding-bottom: 7px
    text-decoration: none
    -webkit-border-top-left-radius: 5px
    -webkit-border-top-right-radius: 5px
    -webkit-border-bottom-right-radius: 0px
    -webkit-border-bottom-left-radius: 0px
    -moz-border-radius-topleft: 5px
    -moz-border-radius-topright: 5px
    -moz-border-radius-bottomright: 0px
    -moz-border-radius-bottomleft: 0px
    border-top-left-radius: 5px
    border-top-right-radius: 5px
    border-bottom-right-radius: 0px
    border-bottom-left-radius: 0px

.logo
  position: absolute
  top: 20px
  right: 0

table#layout
  border-collapse: collapse
  clear: left
  width: 100%
  border: 0
  cellpadding: 0 
  cellspacing: 0
  h1
    margin-bottom: 20px
  tr
    td.left
      width: 65%
      background-color: white
      padding: 20px
      clear: left
    td.middle
      width: 220px
      text-align: left
      padding: 20px
      vertical-align: top
    td.right
      width: auto
      
table.people
  width: 100%
  margin-bottom: 20px
  tr
    th,td
      height: 40px
      padding: 4px
    td.picture,
    th.picture
      width: 23px
      img
        vertical-align: middle
    td.designation
      width: 200px
    td.button_group
      width: 140px
      padding-left: 50px
      vertical-align: middle
      a
        font-size: 11px
        text-indent: -10000px
        

h2.de
  padding-left: 30px
  background: transparent url(../images/flagge_deutsch.gif) no-repeat left center
h2.en
  padding-left: 30px
  background: transparent url(../images/flagge_englisch.gif) no-repeat left center

.company_header
  background-color: #666
  color: white
  padding: 2px 7px
  font-weight: normal
.company
  margin-bottom: 20px

.list_item .path, .type, .size
  font-size: 10px
  
.edit_list_item
  td
    background-color: #DD6D6A
    color: white
    p
      color: white
    a
      color: white
  td.path
    a
      &:hover
        text-decoration: none
  td.button_group
    a
      color: white
      background:
        position: left top
        repeat: no-repeat
      padding-left: 16px
      display: inline-block
    a
      &:hover
        text-decoration: none
        color: #780E01
    a.edit_link
      text-indent: 0
      margin-right: 5px
      background-image: url(../images/pen.png)
      &:hover 
        background-position: left -22px
    a.delete_link
      margin: -10px 0px 0 0
      text-indent: -10000px
      background:
        image: url(../images/trash_stroke.png)
      &:hover
        background-position: left -22px
    a.move_higher_link
      background-image: url(../images/arrow_higher.png)
      text-indent: -10000px
      width: 12px
      height: 12px
      padding: 0 
      &:hover
        background-position: left -22px
    a.move_lower_link
      background-image: url(../images/arrow_lower.png)
      text-indent: -10000px
      width: 12px
      height: 12px
      padding: 0
      &:hover
        background-position: left -22px
      
a.person_new_link
  +button
  &:hover
    text-decoration: underline
    -moz-box-shadow: 0 0 0

a.post_new_link
  +button
  &:hover
    text-decoration: underline
    -moz-box-shadow: 0 0 0
    


  
table.posts, table.products
  width: 100%
  margin-bottom: 20px
  tr
    th,td
      height: 40px
      padding: 4px
    td.picture,
    th.picture
      width: 23px
      img
        vertical-align: middle
    td.designation
      width: 200px
    td.button_group
      width: 156px
      padding-left: 20px
      vertical-align: middle
      a
        font-size: 11px
        text-indent: -10000px
      a.delete_link
        margin-left: 20px
        
h1.admin_section
  color: white

body
  form
    textarea,
    input[type=text]
      font-family: Arial, Helvetica, sans-serif
      border: 1px solid #ccc
      padding: 9px
      color: $default_text 
      font-size: 13px
      font-weight: normal
    textarea
      width: 100%
      &:focus 
        background-color: $bereich_3_pale
    input[type=text]
      font-weight: bold
      width: 380px
      display: block
      &:focus 
        background-color: $bereich_3_pale
    .personal_data
      height: 58px    
      position: relative
      .name
        position: absolute
        left: 0
      .email
        position: absolute
        right: 0
    .button_group
      margin-top: 20px
      height: 36px
      position: relative
      #contact_submit
        position: absolute
        left: 0
        top: 0
      .reset
        position: absolute
        left: 120px
        top: 11px
      .required
        position: absolute
        right: 0
        top: 0

.view_website
  display: inline-block
  padding: 0 0 0 16px
  background: url(../images/link.png) no-repeat left center
  text-decoration: underline
  &:hover
    text-decoration: none
  
.link_go_back
  font-size: 11px
  line-height: 20px
  display: inline-block
  font-weight: bold
  padding-left: 18px
  background: url(../images/go_back.png) no-repeat left center
  text-decoration: none
  &:hover
    text-decoration: underline

.button_group.right
  float: right
  height: auto
  span
    display: inline-block
  a
    display: inline-block
    &:hover
      text-decoration: none
  input
    +button
    margin-right: 5px
    &:hover
      text-decoration: underline
      -moz-box-shadow: 0 0 0

#color_number
  span
    color: #b0b0b0
    
input.colorfield
  width: 65px !important
  margin-right: 10px
  float: left
  padding: 0 0 0 32px !important
  height: 34px
  background: url(../images/colorpicker_icon.gif) no-repeat 4px center 
  
span.color_preview
  float: left
  width: 100px
  height: 34px
  border: 1px solid #CCC

.edit_product
  p
    margin-bottom: 20px
  
#choose_color
  margin: 0 0 20px 0
  
p.color_shade
  height: 55px
  position: relative
  .color_preview
    position: relative
    display: block
  .shade_notice
    line-height: 13px
    position: absolute
    left: 220px
    bottom: 6px
    color: #b0b0b0

#shade_1
  margin-bottom: 10px

#shade_2
  margin-bottom: 30px

span.placeholder
  color: #b0b0b0
  position: absolute
    
.errorExplanation
  background-color:  $bereich_3_pale
  padding: 10px
  border: 3px solid $bereich_3_normal
  margin-bottom: 20px
.fieldWithErrors
  input
    border: 3px solid $bereich_3_normal !important
  
.new_product, .new_download
  hr
    margin: 30px 0
  ul.application_fields
    line-height: 20px
    
table.text_area
  td
    p
      textarea
        margin-right: 20px

textarea#product_info_de, textarea#product_info_en
  height: 60px

.flash_notice
  margin-bottom: 20px
  background-color: $bereich_3_pale
  color: $bereich_3_dark
  font-weight: bold
  border: 2px solid $bereich_3_normal
  padding: 10px