@charset "UTF-8"
/* CSS Document */

/* Colors */

$default_text: #666666
$default_grey: #ccc

// Bereich 1
$bereich_1_light: #DD6D6A
$bereich_1_normal: #BC2B27
$bereich_1_dark: #982517
                
// Bereich 2    
$bereich_2_light: #7591D8
$bereich_2_normal: #2C5BCF
$bereich_2_dark: #242C77

// Bereich 3
$bereich_3_light: #E0C16B
$bereich_3_normal: #D5A319
$bereich_3_dark: #D58415

// Bereich 4
$bereich_4_light: #8ACA7F
$bereich_4_normal: #598A50
$bereich_4_dark: #446647

// Bereich 6
$bereich_6_normal: #623a29


.grey
  background-color: $default_grey

.bereich_0 
  background-color: #666666

.bereich_1
  background-color: $bereich_1_normal
.bereich_1_hell   
  background-color: $bereich_1_light
.bereich_1_dunkel 
  background-color: $bereich_1_dark

.bereich_2
  background-color: $bereich_2_normal
.bereich_2_hell    
  background-color: $bereich_2_light
.bereich_2_dunkel 
  background-color: $bereich_2_dark
  
.bereich_3
  background-color: $bereich_3_normal
.bereich_3_hell     
  background-color: $bereich_3_light
.bereich_3_dunkel   
  background-color: $bereich_3_dark
  
.bereich_4
  background-color: $bereich_4_normal
.bereich_4_hell     
  background-color: $bereich_4_light
.bereich_4_dunkel   
  background-color: $bereich_4_dark
.bereich_6
  background-color: $bereich_6_normal

.bereich_1_textur
  background-image: url(../images/bg_bereich1.jpg)
.bereich_2_textur
  background-image: url(../images/bg_bereich2.jpg)
.bereich_3_textur
  background-image: url(../images/bg_bereich3.jpg)
.bereich_4_textur
  background-image: url(../images/bg_bereich4.jpg)
.bereich_6_textur
  background-image: url(../images/bg_bereich6.jpg)
  
.home_txt_0, .bereich_0_txt
  color: $bereich_1_normal
.home_txt_1, .bereich_1_txt
  color: $bereich_1_normal
.home_txt_2, .bereich_2_txt
  color: $bereich_2_normal
.home_txt_3, .bereich_3_txt
  color: $bereich_3_normal
.home_txt_4, .bereich_4_txt
  color: $bereich_4_normal
.home_txt_6, .bereich_6_txt
  color: $bereich_6_normal

.bereich_1_arrow_e
  background: url(../images/pfeil_bereich1_e.gif) no-repeat left center
.bereich_2_arrow_e                          
  background: url(../images/pfeil_bereich2_e.gif) no-repeat left center
.bereich_3_arrow_e                          
  background: url(../images/pfeil_bereich3_e.gif) no-repeat left center
.bereich_4_arrow_e                          
  background: url(../images/pfeil_bereich4_e.gif) no-repeat left center
  
.bereich_1_arrow_n
  background: url(../images/pfeil_bereich1_n.gif) no-repeat left center
.bereich_2_arrow_n                         
  background: url(../images/pfeil_bereich2_n.gif) no-repeat left center
.bereich_3_arrow_n                         
  background: url(../images/pfeil_bereich3_n.gif) no-repeat left center
.bereich_4_arrow_n                         
  background: url(../images/pfeil_bereich4_n.gif) no-repeat left center    

.bereich_1_square 
  list-style-image: url(../images/square_bereich1.gif)
.bereich_2_square 
  list-style-image: url(../images/square_bereich2.gif)
.bereich_3_square 
  list-style-image: url(../images/square_bereich3.gif)
.bereich_4_square 
  list-style-image: url(../images/square_bereich4.gif) 
  
    
/*--------------------------*/
/* STANDARD HTML TAG RESET  */
/*--------------------------*/

body, img, ul, li, form
  border: 0
  margin: 0
  padding: 0

/* Mixins */

=align_center
  margin-left: auto
  margin-right: auto
  
  
/* tag definitions */

/* --- Grund Layout ---*/
body
  background-attachment: fixed
  background-color:  $bereich_1_normal
  margin: 0px
  
html,body,div,p,table,td,h3,span,ul,ol,li,a 
  font-family: arial, Helvetica, sans-serif
  color:  $default_text

fieldset
  margin: 20px 0
  padding:-top 10px
  border: 2px solid #ccc
  legend
    font-size: 13px
    background-color: white
  p
    margin: 4px
  label
    font-weight: bold
    font-size: 12px
    width: 130px
    vertical-align: top
    text-align: right
    padding-right: 20px
    display: inline-block
  input[type=text]
    width: 310px
    padding: 5px
    border: 1px solid #ccc
  span.required
    margin-left: 10px
    font-size: 16px
    font-weight: bold
    color:  $bereich_1_normal
    vertical-align: top

a
  &:active, &:focus
    outline: none

h1
  font-size: 26px
  line-height: 30px
  margin-top: 0px
  font-weight: normal
h2                 
  font-size: 20px  
  line-height: 22px
  margin-top: 0px 
  margin-bottom: 20px 
  font-weight: normal
h3                 
  font-size: 18px  
  line-height: 22px
  margin-top: 0px
h4                 
  font-size: 15px  
  line-height: 22px
  margin: 0px 
  height: 12px

sup
  font-size: 50%

p, table
  font-size: 16px
  line-height: 25px
  margin: 18px 0 18px 0

table
  thead
    th
      text-align: left

table.border 
  border-collapse: collapse
  td, th
    vertical-align: top
    padding: 4px
    border: 1px solid #ccc


p.last
  margin-bottom: 35px
  
ul   
  margin: 18px 0 18px 0 
  padding-left: 30px
  font-size: 15px
  line-height: 22px
  list-style-type: none 
  list-style-image: url(../images/square_bereich1.gif)

/* custom classes */

.note
  color:  $bereich_1_normal
  border:  "1px" solid $bereich_1_normal
  font-size: 9px
  line-height: 11px
  padding: 5px

.right
  float: right

.left
  float: left

.link_normal 
  font-size: 15px 
  font-weight: bold 
  line-height: 22px
.copy       
  font-size: 15px 
  line-height: 20px 
  margin-top: 0px
.small      
  font-size: 12px 
  line-height: 15px 
  margin-top: 0px
.very_small
  font-size: 10px
  line-height: 12px
.copyright  
  font-size: 10px 
  color: #CCCCCC
.bild_head   
  font-size: 9px 
  line-height: 11px 
  text-align: center 
  margin-top: 6px 
  margin-bottom: 0px 
  text-transform: uppercase
.bild_sub    
  font-size: 9px 
  line-height: 11px 
  text-align: center 
  margin: 0px 0 12px 0 
  letter-spacing: 0.6px
  
.bild_rechts
  float: right
  margin-left: 20px
.bild_links
  float: left
.bild_sub_mitarbeiter 
  font-size: 9px 
  line-height: 11px 
  text-align: center 
  margin-bottom: 0px 
  margin-top: 6px 
  letter-spacing: 0px 
  text-transform: uppercase

.image_group img
  max-width: 136px

.center
  +align_center
  
.center_box
  +align_center
  position: relative
  width: 1040px

.clearfix:after
  content: "."
  display: block
  height: 0
  clear: both
  visibility: hidden
  
  
/* content */

header#main
  position: relative
  padding: 5px
  height: 130px
  background-color: white
  display: block
  margin-bottom: 1px
  a.logo
    position: absolute
    top: 14px
    left: 35px
  h1
    margin-left: 301px
    line-height: 130px

ul#header_nav
  position: absolute
  right: 0
  top: 10px
  display: block
  margin: 0
  padding: 0
  z-index: 1000
  line-height: 14px
  list-style-image: none
  li.first, li.flag_label
    border-left: none
  li.last
    border-right: 1px solid #CCC
  li.flag_label
    padding: 1px
    margin: 0 10px -7px 3px
    a.choose_lang
      width: 28px
      height: 17px
      display: block
      text-indent: -10000px
      background:
        repeat: no-repeat
        position: center bottom
  li
    overflow: visible
    float: left
    list-style-type: none
    padding: 0 6px
    border-left: 1px solid #CCC 
    a, span
      color: #999
      font-size: 11px 
      text-decoration: none
    a:hover
      text-decoration: underline
    span.current
      color: #666

a.choose_lang.de
  background-image: url(../images/flagge_deutsch.gif)

a.choose_lang.en
  background-image: url(../images/flagge_englisch.gif)

a#contact_button
  background: url("../images/contact_us.png") no-repeat scroll left top transparent
  color: white
  display: inline
  font-size: 13px
  height: 42px
  left: -10px
  padding-left: 20px
  padding-top: 10px
  position: absolute
  text-decoration: none
  top: 141px
  width: 310px
  &:hover
    background-position: left -52px
  &:active
    background-position: left -104px

ul#main_nav
  margin: 0
  padding: 0
  list-style: none none
  width: 300px
  position: absolute
  top: 194px
  left: 0
  li#downloads
    a.bereich_1, span
      background-image: url(../images/bereich-6.png)
  li.post
    margin: 0 0 1px 0
    padding: 8px
    border: none
    background-color: white
    h2 
      margin: 0
    p
      margin: 0 
    a
      display: inline-block
      font:
        size: 10px 
        weight: normal 
      line-height: 10px
      margin-top: 0px
      padding-left: 12px
      background-position: 2px 2px
      &:hover
        text-decoration: underline
  li
    h4
      color: white
      padding: 4px 2px 
    a,span
      background-position: 7px center
      background-repeat: no-repeat
      line-height: 40px
      background-color: white
      margin-bottom: 1px
      padding-left: 96px
      font-weight: normal
      font-size: 13px
      display: block
      text-decoration: none
    span.current
      background-color: #dfdfdf
    &#bereich_1 > a, 
    &#bereich_1 > span
      background-image: url(../images/bereich-1.png)
    &#bereich_2 > a, 
    &#bereich_2 > span
      background-image: url(../images/bereich-2.png)
    &#bereich_3 > a, 
    &#bereich_3 > span
      background-image: url(../images/bereich-3.png)
    &#bereich_4 > a, 
    &#bereich_4 > span
      background-image: url(../images/bereich-4.png)
    &#references > a, 
    &#references > span
      background-image: url(../images/bereich-5.png)  
    ul.sub_menu
      margin: 0 
      padding: 0
      list-style: none none
      li
        margin-bottom: 1px
        a.active_item
          background-image: url(../images/pfeil_weiss_s.gif)
          background-position: 5px center
          
        a, span
          font-size: 11px
          color: white
          margin: 0
          padding-left: 18px
          line-height: 25px
          background:
            color: #999
            image: url(../images/pfeil_weiss_e.gif)
      ul.sub_menu_2
        margin: 0
        padding: 0
        list-style: none none
        li
          margin: 0
          a
            background-color: #333
        
                
  li#bereich_1
    a:hover
      color:  $bereich_1_normal
    li
      a:hover,span.current
        color: white
        background-color:  $bereich_1_light
  li#bereich_2
    a:hover
      color:  $bereich_2_normal
    li
      a:hover,span.current
        color: white
        background-color:  $bereich_2_light
  li#bereich_3
    a:hover
      color:  $bereich_3_normal
    li
      a:hover,span.current
        color: white
        background-color:  $bereich_3_light
  li#bereich_4
    a:hover
      color:  $bereich_4_normal
    li
      a:hover,span.current
        color: white
        background-color:  $bereich_4_light
  li#downloads
    a:hover
      color:  $bereich_1_normal

ul#sitemap_main_nav li a,
ul#sitemap_main_nav li
  background-color: transparent !important
      
section#content,
section#mitte_bild,
footer#main_footer
  background-color: white
  margin-left: 301px
  width: 689px
  display: block
 
section#content
  padding: 30px 25px 30px 25px
  position: relative
  min-height: 400px
  margin-bottom: 1px

#mitte_bild
  width: 609px
  
.main_column
  padding: 0
   
a.arrow_link
  padding: 0 0 0 11px
  text-decoration: none
  &:hover
    text-decoration: underline

//a.arrow_link_top
  //padding: 0 0 0 8px
  //text-decoration: none
  
  
section#mitte_bild
  margin-left: 301px
  margin-bottom: 1px
  height: 193px
  width: 739px
  
footer#main_footer
  font-size: 10px
  color: #ccc
  padding: 0 25px
  line-height: 20px
  text-align: center
  a
    color: #ccc
.aside
  float: right
  width: 152px
  margin-left: 10px
  
.aside.home
  float: right
  width: 300px
  margin-left: 10px


  
.company
  border-right: 1px solid #ccc
  border-bottom: 1px solid #ccc
  border-left: 1px solid #ccc
  padding: 5px
  text-align: left
  margin-bottom: 20px
  .department_header
    clear: both
    background-color: #DDDDDD
    font-size: 10px
    font-weight: bold
    margin: 15px 0 5px 0
    padding: 2px 11px
    text-align: left
    text-transform: uppercase
    span
      color: #999
  .people
    margin: 0
    clear: both
    padding: 0
    list-style: none none
    span.person
      font-size: 9px
      height: 200px
      line-height: 11px
      text-align: center
      text-transform: uppercase
      width: 109px
      display: block
      margin: 0 3px 10px 0px
      float: left
      b
        margin: 4px 0
        display: block
      span
        display: block
        overflow: hidden
        
.company_header
  font-size: 15px
  line-height: 30px
  margin: 0
  padding: 2px 9px
  text-transform: uppercase
  color: white
  display: block
  clear: both
  
.anchor_list
  margin: 18px 0 30px 0
  padding-left: 20px 
  list-style: none none
  li
    padding: 0 
    a.arrow_link .contact
      margin: 0 auto

.location
  margin-top: 18px
  position: relative
  padding: 0 8px

#switzerland
  height: 265px
    
#benelux
  height: 265px
  
#austria
  height: 259px
  
#italy
  height: 259px
    
.map_container
  position: absolute
  right: 0
  bottom: 0
  p
    margin-bottom: 0px
    text-align: right
    display: block

.map_default
  width: 230px
  height: 120px
  border: 1px solid #CCC
  margin-bottom: 5px

.view_map
  display: block
  padding: 0 0 0 18px
  background: url(../images/magnifying_glass_12x12.png) no-repeat 78px center
      
.contact_anchor_list
  margin: 0 0 30px 0 
  list-style: none none
  li
    padding: 3px 0
    a.flag_link
      display: block
      font-size: 13px
      font-weight: bold
      line-height: 21px
      padding-left: 35px
      text-decoration: none
      background:
        position: left center
        repeat: no-repeat
      &:hover
        text-decoration: underline 
    .german
      background-image: url(../images/flagge_de.gif)
    .benelux
      background-image: url(../images/flagge_ne.gif)
    .italian
      background-image: url(../images/flagge_it.gif)
    .swiss
      background-image: url(../images/flagge_ch.gif)
    .maroc
      background-image: url(../images/flagge_ma.gif)
    .austrian
      background-image: url(../images/flagge_au.gif)  
    
#slurry
  height: 160px
  margin: 20px 0 10px 0
  
.download_link
  text-decoration: none
  &:hover, &:active
    text-decoration: underline
 
.bar
  margin: 18px 0 0 0
  padding: 6px 8px
  color: white
  clear: both
  //font-size: 12px
  text-transform: uppercase
  p,a
    color: white
  p
    font-weight: bold
    font-size: 12px 
    text-transform: uppercase
    margin: 0
  
  
.bar h4
  line-height: 30px
  margin: 0 
  display: inline-block

div.bar a.arrow_link
  text-transform: none
  color: white
  background: url(../images/pfeil_weiss_n.gif) no-repeat left 4px
  
.bar div 
  display: inline-block 
  float: right 
    
.post
  margin: 20px 0 40px 0
  h1
    font-size: 16px
    margin: 5px 0 3px
    padding: 0
  h2
    font-size: 11px
    margin-bottom: 10px

ul.post_pictures
  margin: 0
  padding: 10px
  list-style: none
  overflow: auto
  background-color: #f2f2f2
  li
    float: left
    margin: 0 10px
    width: 84px

.main_post_picture
  width: 557px
  border: 1px solid #ccc
  padding: 1px
  margin-top: 15px

.post_picture
  margin: -right 10px
  display: block
  text-align: center
  img
    border: 1px solid #ccc
    padding: 1px

.ap_text
  background-color: #EFEFEF
  min-height: 150px
  padding: 20px
  p 
    margin-top: 0
  .anchor_list
    height: 20px
    padding: 0
    li
      display: block
      float: left 
      margin: 10px 20px 18px 0
    h4
      padding-left: 34px
      background: url(../images/4.gif) no-repeat left center 
      line-height: 20px
      font-size: 13px
      height: 20px
      
.download_teaser
  margin: 20px 0
  background-color: white
  border: 1px solid #CCC
  border-top: none
  p
    font-size: 12px
    line-height: 15px
    margin: 0
    padding: 0 10px
    font-weight: bold
  > a.arrow_link
    float: right
    margin: -20px 10px 10px 0
    background: none
  .downloads_list
    padding: 0 10px
    list-style: none none
    margin: 10px 0
    li
      line-height: 14px
      a
        float: none
        margin: 0
        line-height: 18px
        font:
          size: 13px
          weight: normal
  .bar
    line-height: 30px
    height: 30px
    padding: 0px 2px 0px 10px
    margin: 0 0 10px
    text-transform: none
    
.product_group
  margin-bottom: 20px
  padding: 5px
  border-right: 1px solid #CCC
  border-bottom: 1px solid #CCC
  border-left: 1px solid #CCC
  h3
    margin: 10px 0
  .bar
    padding-right: 0
    margin-bottom: 2px
  .bar p
    text-transform: none
    color:  $default_text
    font-size: 12px

table.image-row
  width: 100%
  border: medium none !important

table.image-row tr td img 
  width: 100%
      
table.product
  font-size: 14px
  line-height: 16px
  padding: 2px 0 2px 8px
  margin: 0
  p
    margin: 0
  tr
    td
      position: relative

table.milestones
  font-size: 12px
  line-height: 16px

table.milestones tr td
  border-top: 1px solid #ccc
  padding-bottom: 10px
  vertical-align: top

table.milestones tr td:first-child
  padding-right: 10px

.bar table
  width: 100%
  padding: 0
  border: 0 
  margin: 0
  td
    width: 50%
    vertical-align: middle
    padding: 0
    h4
      line-height: 18px
      color: white
      height: 20px
      
img.product_overlay
  position: absolute
  
.product_group_table
  width: 100%
  padding: 0 8px
  border: 0
  border-bottom: 1px solid #CCC
  tr
    height: 20px
    td
      width: 50% 
      vertical-align: middle
      padding: 0
      h3.copy
        font-weight: normal
        margin-bottom: 0
      ul.anchor_list
        padding-left: 0
        margin-bottom: 18px

.bar .standard_shades_table
  tr
    height: 10px
    td
      width: 300px
      height: 18px
    td.column_header
      width: 115px
      padding: 0
      text-align: center
      p
        font-size: 10px
        line-height: 11px

ul#accordion
  a
    text-decoration: none
  padding: 0
  list-style: none none
  li
    &.tag
      border-bottom: 1px solid #ccc
      padding: 0 12px
      font-weight: bold
      margin-top: 10px
    list-style-type: none
    padding: 0
    margin: 0
    a.heading.active
      background-image: url(../images/arrow_white.gif) 
      background-position: 655px -18px 
      background-repeat: no-repeat
      background-color: #BC2B27
    a.heading
      font-size: 14px
      font-weight: bold
      display: block
      line-height: 30px
      color: #FFF
      padding: 0px 12px
      margin-bottom: 0
      background: #999 url(../images/arrow_white.gif) 655px 12px no-repeat
      border-bottom: 1px solid #FFF
      &:hover
        background-color: #BC2B27
      span
        font-size: 12px
        font-weight: normal
        color: #FFF
    ul
      list-style: none none
      padding: 0
      margin: 0 0 10px 0
      li
        a
          display: block
          font:
            weight: 600
            size: 12px
          line-height: 16px
          padding: 5px 12px
          background: url(../images/pdf_icon.gif) 655px center no-repeat
          &:hover
            background: url(../images/get_pdf_icon.gif) 655px center no-repeat
            text-decoration: underline
      li.highlight_list
        background-color: #F8E9E9

a.icon_link_to_pdf
  padding-top: 100px
  text-align: center
  width: 150px
  font-size: 12px
  display: inline-block
  &.bauindustrie
    background: transparent url(../images/lanxess-farbtonkarte_bauindustrie.jpg) no-repeat center top
  &.farben_lacke
    background: transparent url(../images/lanxess-farbtonkarte_farben.jpg) no-repeat center top
  &.kunststoffe
    background: transparent url(../images/lanxess-farbtonkarte_kunststoffe.jpg) no-repeat center top
  &.scholz_karte
    background: transparent url(../images/scholz-farbtonkarte.jpg) no-repeat center top
  &.scholz_karte_pigment_preparations
    background: transparent url(../images/scholz-farbtonkarte-pigment-preparations.jpg) no-repeat center top
  &.company_broschure
    background: transparent url(../images/scholz-broschure.jpg) no-repeat center top
  &.dosingsystems
    background: transparent url(../images/scholz-dosingsystems-broschure.jpg) no-repeat center top
  &.umweltleitlinien
    background: transparent url(../images/scholz-umwelt.jpg) no-repeat center top
    
#current_link
  display: none


.news
  border: 1px solid #ccc
  border-top: none
  padding: 10px

ul.posts
  list-style: none
  margin: 0 0 10px 0
  padding: 0
  li.post
    border: none
    margin: 0 0 10px 0
    padding: 0
    font-size: 14px
    margin-bottom: 15px
    font-weight: bold   	
    p
      margin: 0

ul.jobs
  list-style: none
  border: 1px solid #ccc
  margin: 0
  padding: 0
  li
    border-top: 1px solid #ccc
    padding: 0
    margin: 0
    &:first-child
      border-top: none
    a
      line-height: 30px
      padding: 0 20px
      display: block
      font-size: 15px
      font-weight: bold
      text-decoration: none
      &:hover
        background-color: #f2f2f2

header.jobs
  margin-top: 30px
  border-top: 1px solid #ccc
  border-bottom: 1px solid #ccc
  padding: 20px 0
  h2
    font-size: 26px
    line-height: 28px
    height: auto
    margin-bottom: 12px
  h3
    font-size: 18px
    margin-bottom: 0
    font-weight: normal

body.super_groups section#content img
  max-width: 100%
  
body.super_groups 
  h3
    background-color: #E2E2E2
    margin-top: 60px
    padding: 5px 10px
  h4
    margin-bottom: 0.6em
  .bar
    margin-top: 60px
  ul.downloads_list
    margin-top: 0
    padding: 10px 20px
    border: 1px solid #ccc
    border-top: none
  .box_item
    border: 1px solid #ccc
    padding: 10px
    margin: 20px 0
    min-height: 75px
    p
      margin: 6px 0
  p
    margin-top: 0
  table
    width: 100%
    thead
      background-color: #e2e2e2
    tbody
      tr:nth-child(even)
        background-color: #efefef
  .chemical_table
    
    border-collapse: collapse
    td
      border-bottom: 3px solid white
      padding: 4px 7px
      background-color: #e2e2e2
      color: #444
      &.label
        color: white
        border-right: 3px solid white
        &.black
          background-color: #444444        
        &.yellow
          background-color: #f1b419
        &.red
          background-color: #bc2c27
      &.arrow
        font-size: 70%
        background: #e2e2e2 url("http://production.harold-scholz.de.s3.amazonaws.com/sg/eisenoxidpigmente/arrow.gif") no-repeat  bottom right
        overflow: hidden
        width: 30px
    &.black
      td
        background-color: #444444        
    &.yellow
      td
        background-color: #f1b419
    &.red
      td
        background-color: #bc2c27
ul#super_groups
  margin: 0
  padding: 0
  list-style: none
  li
    position: relative
    border: 1px solid #ccc
    margin-bottom: 10px
    img.super_group_image
      position: absolute
      left: 0
      top: 0
    a
      padding-left: 130px
      display: block
      line-height: 68px
      font-size: 18px
      font-weight: bold
      text-decoration: none
      background: transparent url("../images/icons/arrow_right_grey.png") no-repeat 655px center
    &:hover
      background-color: #e2e2e2
    
.super_group_product_groups
  float: right
  width: 190px
  margin-left: 10px
  p
    font-size: 11px
    line-height: 13px
    font-weight: bold
    margin-bottom: 10px
  ul
    margin: 10px 0
    list-style: none
    padding: 0
    border: 1px solid #ccc
    background-color: white
    li
      border-top: 1px solid #ccc
      position: relative
      &:first-child
        border: none
      i
        position: absolute
        height: 4px
        width: 7px
        right: 10px
        top: 13px
        background: transparent url("../images/pfeil_bereich2_s.gif")
      &.active
        i
          height: 4px
          width: 7px
          right: 10px
          top: 13px
          background: transparent url("../images/pfeil_bereich2_n.gif")
      a
        text-decoration: none
        display: block
        padding: 6px 5px
        font-size: 11px
        line-height: 16px
      .application_fields
        display: none
        position: absolute
        right: -20px
        width: 270px
        border: 1px solid #ccc
        background-color: white
        z-index: 100
        .header
          background-color: #e2e2e2
          padding: 0 10px
          line-height: 30px
        div
          padding: 10px
          h4
            margin-bottom: 5px
          ul
            border: none
            margin: 0
            li
              border: none
              a
                font-weight: normal
                padding-left: 10px
              a:hover
                background-color: transparent 
                text-decoration: underline
.super_group_product_groups > ul > li > a
  background: #f0f0f0 url("../images/super_groups_product_groups_verlauf_sprite.jpg") repeat-x top left
  background-image: linear-gradient(bottom, rgb(226,226,226) 19%, rgb(240,240,240) 80%)
  background-image: -o-linear-gradient(bottom, rgb(226,226,226) 19%, rgb(240,240,240) 80%)
  background-image: -moz-linear-gradient(bottom, rgb(226,226,226) 19%, rgb(240,240,240) 80%)
  background-image: -webkit-linear-gradient(bottom, rgb(226,226,226) 19%, rgb(240,240,240) 80%)
  background-image: -ms-linear-gradient(bottom, rgb(226,226,226) 19%, rgb(240,240,240) 80%)
  background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.19, rgb(226,226,226)),color-stop(0.8, rgb(240,240,240)))
  &:hover
    background: #e2e2e2 url("../images/super_groups_product_groups_verlauf_sprite.jpg") repeat-x left -28px
    background-image: linear-gradient(bottom, rgb(240,240,240) 19%, rgb(226,226,226) 80%)
    background-image: -o-linear-gradient(bottom, rgb(240,240,240) 19%, rgb(226,226,226) 80%)
    background-image: -moz-linear-gradient(bottom, rgb(240,240,240) 19%, rgb(226,226,226) 80%)
    background-image: -webkit-linear-gradient(bottom, rgb(240,240,240) 19%, rgb(226,226,226) 80%)
    background-image: -ms-linear-gradient(bottom, rgb(240,240,240) 19%, rgb(226,226,226) 80%)
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.19, rgb(240,240,240)),color-stop(0.8, rgb(226,226,226)))

.flash_notice
  padding: 10px
  background: transparent url("../images/trans.png")
  font-size: 13px
  color: white
  position: absolute
  z-index: 9999
  text-align: center
  width: 100%
  
.errorExplanation
  padding: 20px
  border:  "3px" "solid" $bereich_3_normal
  background-color: $bereich_3_light

.fieldWithErrors
  display: inline
  input[type=text],
  textarea
    border:  "2px" "solid" $bereich_3_normal !important