- locale_path = "Jobs.index"
= main_header(:header => t("#{locale_path}.main_header"))
= mitte_bild("mittebild28.jpg")
= bereichs_subheader(@bereich, :header => t("#{locale_path}.header"))


= t("#{locale_path}.text")
%p= t("#{locale_path}.text2")

%ul.jobs  
  = render @jobs

%p= t("#{locale_path}.text3")
  
= render :partial => "jobs_address"