- locale_path = "Jobs.show"
= main_header(:header => t("#{locale_path}.main_header"))
= mitte_bild("mittebild28.jpg")
= link_to t("#{locale_path}.back_to_jobs"), jobs_path, :class => "small", :style => "margin-bottom:20px;"

%header.jobs
  %h2= @job.title_de if @job.title_de.present?
  %h3= "Einsatzort: #{@job.region if @job.region.present?}"

%article
  = textilize(@job.body_de)