@charset "UTF-8";
/* Colors */
.grey {
  background-color: #333333; }

.bereich_0 {
  background-color: #666666; }

.home_txt_0, .bereich_0_txt {
  color: #333333; }

.home_txt_1, .bereich_1_txt {
  color: #333333; }

.home_txt_2, .bereich_2_txt {
  color: #333333; }

.home_txt_3, .bereich_3_txt {
  color: #333333; }

.home_txt_4, .bereich_4_txt {
  color: #333333; }

.bereich_1_arrow_e {
  background: url(../images/pfeil_bereich0_e.gif) no-repeat left center; }

.bereich_2_arrow_e {
  background: url(../images/pfeil_bereich0_e.gif) no-repeat left center; }

.bereich_3_arrow_e {
  background: url(../images/pfeil_bereich0_e.gif) no-repeat left center; }

.bereich_4_arrow_e {
  background: url(../images/pfeil_bereich0_e.gif) no-repeat left center; }

.bereich_1_arrow_n {
  background: url(../images/pfeil_bereich0_n.gif) no-repeat left center; }

.bereich_2_arrow_n {
  background: url(../images/pfeil_bereich0_n.gif) no-repeat left center; }

.bereich_3_arrow_n {
  background: url(../images/pfeil_bereich0_n.gif) no-repeat left center; }

.bereich_4_arrow_n {
  background: url(../images/pfeil_bereich0_n.gif) no-repeat left center; }

.bereich_1_square {
  list-style-image: url(../images/square_bereich0.gif); }

.bereich_2_square {
  list-style-image: url(../images/square_bereich0.gif); }

.bereich_3_square {
  list-style-image: url(../images/square_bereich0.gif); }

.bereich_4_square {
  list-style-image: url(../images/square_bereich0.gif); }

html, body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  line-height: 150%;
  color: #333333;
  background-color: white; }

#main h1 {
  float: right;
  margin-top: 50px; }

h2, h3, h4, h5 {
  width: 60%; }

h1 {
  font-size: 16px; }

h2 {
  font-size: 14px; }

a:link {
  text-decoration: none;
  color: #333333; }

img {
  border: none;
  float: right;
  clear: both; }

p {
  width: 60%; }

ul {
  list-style: none;
  width: 60%;
  padding: 0 30px; }
  ul li {
    padding: 5px 0; }
    ul li a {
      padding: 0 0 0 18px;
      text-decoration: none;
      color: #333333;
      font-weight: bold; }

.copy {
  font-size: 11px;
  font-weight: normal; }

table {
  cellpadding: 0;
  cellspacing: 1px;
  width: 100%; }
  table tr td {
    border-bottom: 1px solid #cccccc;
    width: 50%;
    height: auto;
    padding-left: 10px; }

.bar {
  background-color: #333333;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  padding-left: 8px; }

.bar table {
  width: 60%; }
  .bar table tr td {
    width: 50%;
    vertical-align: middle; }

#mitte_bild, #header_nav, #main_nav, #main_footer {
  display: none; }

.bild_sub {
  font-size: 8px;
  float: right;
  clear: both; }

.logo img {
  float: none;
  margin-left: -20px; }

.aside {
  margin-top: 20px;
  float: right;
  clear: both; }

#current_link {
  position: absolute;
  bottom: 0;
  right: 0; }

.post h2 {
  font-size: 11px;
  margin-bottom: 10px; }

.post {
  padding: 10px; }

.arrow_link.small {
  display: none; }

.countries {
  display: none; }

.company img {
  float: none; }

ul.people {
  display: inline; }

li.person {
  display: inline-table;
  font-size: 9px;
  line-height: 11px;
  text-align: center;
  text-transform: uppercase;
  width: 90px; }

.ap_text .column, .ap_text .anchor_list {
  display: none; }

.column_header {
  font-size: 10px;
  line-height: 11px;
  text-transform: none; }

table.product {
  width: 100%;
  cellpadding: 0;
  cellspacing: 0; }
  table.product tr {
    height: 35px; }

.bar.grey {
  font-size: 12px;
  text-transform: none; }
  .bar.grey table {
    width: 60%; }
