@charset "UTF-8";
/* CSS Document */
/* Colors */
.grey {
  background-color: #cccccc; }

.bereich_0 {
  background-color: #666666; }

.bereich_1 {
  background-color: #bc2b27; }

.bereich_1_hell {
  background-color: #dd6d6a; }

.bereich_1_dunkel {
  background-color: #982517; }

.bereich_2 {
  background-color: #2c5bcf; }

.bereich_2_hell {
  background-color: #7591d8; }

.bereich_2_dunkel {
  background-color: #242c77; }

.bereich_3 {
  background-color: #d5a319; }

.bereich_3_hell {
  background-color: #e0c16b; }

.bereich_3_dunkel {
  background-color: #d58415; }

.bereich_4 {
  background-color: #598a50; }

.bereich_4_hell {
  background-color: #8aca7f; }

.bereich_4_dunkel {
  background-color: #446647; }

.bereich_6 {
  background-color: #623a29; }

.bereich_1_textur {
  background-image: url(../images/bg_bereich1.jpg); }

.bereich_2_textur {
  background-image: url(../images/bg_bereich2.jpg); }

.bereich_3_textur {
  background-image: url(../images/bg_bereich3.jpg); }

.bereich_4_textur {
  background-image: url(../images/bg_bereich4.jpg); }

.bereich_6_textur {
  background-image: url(../images/bg_bereich6.jpg); }

.home_txt_0, .bereich_0_txt {
  color: #bc2b27; }

.home_txt_1, .bereich_1_txt {
  color: #bc2b27; }

.home_txt_2, .bereich_2_txt {
  color: #2c5bcf; }

.home_txt_3, .bereich_3_txt {
  color: #d5a319; }

.home_txt_4, .bereich_4_txt {
  color: #598a50; }

.home_txt_6, .bereich_6_txt {
  color: #623a29; }

.bereich_1_arrow_e {
  background: url(../images/pfeil_bereich1_e.gif) no-repeat left center; }

.bereich_2_arrow_e {
  background: url(../images/pfeil_bereich2_e.gif) no-repeat left center; }

.bereich_3_arrow_e,
.product-info > a {
  background: url(../images/pfeil_bereich3_e.gif) no-repeat left center; }

.bereich_4_arrow_e {
  background: url(../images/pfeil_bereich4_e.gif) no-repeat left center; }

.bereich_1_arrow_n {
  background: url(../images/pfeil_bereich1_n.gif) no-repeat left center; }

.bereich_2_arrow_n {
  background: url(../images/pfeil_bereich2_n.gif) no-repeat left center; }

.bereich_3_arrow_n {
  background: url(../images/pfeil_bereich3_n.gif) no-repeat left center; }

.bereich_4_arrow_n {
  background: url(../images/pfeil_bereich4_n.gif) no-repeat left center; }

.bereich_1_square {
  list-style-image: url(../images/square_bereich1.gif); }

.bereich_2_square {
  list-style-image: url(../images/square_bereich2.gif); }

.bereich_3_square {
  list-style-image: url(../images/square_bereich3.gif); }

.bereich_4_square {
  list-style-image: url(../images/square_bereich4.gif); }

/*-------------------------- */
/* STANDARD HTML TAG RESET  */
/*-------------------------- */
body, img, ul, li, form {
  border: 0;
  margin: 0;
  padding: 0; }

/* Mixins */
/* tag definitions */
/* --- Grund Layout --- */
body {
  background-attachment: fixed;
  background-color: #bc2b27;
  margin: 0px; }

html, body, div, p, table, td, h3, span, ul, ol, li, a {
  font-family: arial, Helvetica, sans-serif;
  color: #666666; }

fieldset {
  margin: 20px 0;
  border: 2px solid #cccccc; }
  fieldset legend {
    font-size: 13px;
    background-color: white; }
  fieldset p {
    margin: 4px; }
  fieldset label {
    font-weight: bold;
    font-size: 12px;
    width: 130px;
    vertical-align: top;
    text-align: right;
    padding-right: 20px;
    display: inline-block; }
  fieldset input[type=text] {
    width: 310px;
    padding: 5px;
    border: 1px solid #cccccc; }
  fieldset span.required {
    margin-left: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #bc2b27;
    vertical-align: top; }

a:active, a:focus {
  outline: none; }

h1 {
  font-size: 26px;
  line-height: 30px;
  margin-top: 0px;
  font-weight: normal; }

h2 {
  font-size: 20px;
  line-height: 22px;
  margin-top: 0px;
  margin-bottom: 20px;
  font-weight: normal; }

h3 {
  font-size: 18px;
  line-height: 22px;
  margin-top: 0px; }

h4 {
  font-size: 15px;
  line-height: 22px;
  margin: 0px;
  height: 12px; }

sup {
  font-size: 50%; }

p, table {
  font-size: 16px;
  line-height: 25px;
  margin: 18px 0 18px 0; }

table thead th {
  text-align: left; }

table.border {
  border-collapse: collapse; }
  table.border td, table.border th {
    vertical-align: top;
    padding: 4px;
    border: 1px solid #cccccc; }

p.last {
  margin-bottom: 35px; }

ul {
  margin: 18px 0 18px 0;
  padding-left: 30px;
  font-size: 15px;
  line-height: 22px;
  list-style-type: none;
  list-style-image: url(../images/square_bereich1.gif); }

/* custom classes */
.note {
  color: #bc2b27;
  border: "1px" solid #bc2b27;
  font-size: 9px;
  line-height: 11px;
  padding: 5px; }

.right {
  float: right; }

.left {
  float: left; }

.link_normal {
  font-size: 15px;
  font-weight: bold;
  line-height: 22px; }

.copy {
  font-size: 15px;
  line-height: 20px;
  margin-top: 0px; }

.small {
  font-size: 12px;
  line-height: 15px;
  margin-top: 0px; }

.very_small {
  font-size: 10px;
  line-height: 12px; }

.copyright {
  font-size: 10px;
  color: #cccccc; }

.bild_head {
  font-size: 9px;
  line-height: 11px;
  text-align: center;
  margin-top: 6px;
  margin-bottom: 0px;
  text-transform: uppercase; }

.bild_sub {
  font-size: 9px;
  line-height: 11px;
  text-align: center;
  margin: 0px 0 12px 0;
  letter-spacing: 0.6px; }

.bild_rechts {
  float: right;
  margin-left: 20px; }

.bild_links {
  float: left; }

.bild_sub_mitarbeiter {
  font-size: 9px;
  line-height: 11px;
  text-align: center;
  margin-bottom: 0px;
  margin-top: 6px;
  letter-spacing: 0px;
  text-transform: uppercase; }

.image_group img {
  max-width: 136px; }

.center {
  margin-left: auto;
  margin-right: auto; }

.center_box {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 1040px; }

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

/* content */
header#main {
  position: relative;
  padding: 5px;
  height: 130px;
  background-color: white;
  display: block;
  margin-bottom: 1px; }
  header#main a.logo {
    position: absolute;
    top: 14px;
    left: 35px; }
  header#main h1 {
    margin-left: 301px;
    line-height: 130px; }

ul#header_nav {
  position: absolute;
  right: 0;
  top: 10px;
  display: block;
  margin: 0;
  padding: 0;
  z-index: 1000;
  line-height: 14px;
  list-style-image: none; }
  ul#header_nav li.first, ul#header_nav li.flag_label {
    border-left: none; }
  ul#header_nav li.last {
    border-right: 1px solid #cccccc; }
  ul#header_nav li.flag_label {
    padding: 1px;
    margin: 0 10px -7px 3px; }
    ul#header_nav li.flag_label a.choose_lang {
      width: 28px;
      height: 17px;
      display: block;
      text-indent: -10000px;
      background-repeat: no-repeat;
      background-position: center bottom; }
  ul#header_nav li {
    overflow: visible;
    float: left;
    list-style-type: none;
    padding: 0 6px;
    border-left: 1px solid #cccccc; }
    ul#header_nav li a, ul#header_nav li span {
      color: #999999;
      font-size: 11px;
      text-decoration: none; }
    ul#header_nav li a:hover {
      text-decoration: underline; }
    ul#header_nav li span.current {
      color: #666666; }

a.choose_lang.de {
  background-image: url(../images/flagge_deutsch.gif); }

a.choose_lang.en {
  background-image: url(../images/flagge_englisch.gif); }

a#contact_button {
  background: url("../images/contact_us.png") no-repeat scroll left top transparent;
  color: white;
  display: inline;
  font-size: 13px;
  height: 42px;
  left: -10px;
  padding-left: 20px;
  padding-top: 10px;
  position: absolute;
  text-decoration: none;
  top: 141px;
  width: 310px; }
  a#contact_button:hover {
    background-position: left -52px; }
  a#contact_button:active {
    background-position: left -104px; }

ul#main_nav {
  margin: 0;
  padding: 0;
  list-style: none none;
  width: 300px;
  position: absolute;
  top: 194px;
  left: 0; }
  ul#main_nav li#downloads a.bereich_1, ul#main_nav li#downloads span {
    background-image: url(../images/bereich-6.png); }
  ul#main_nav li.post {
    margin: 0 0 1px 0;
    padding: 8px;
    border: none;
    background-color: white; }
    ul#main_nav li.post h2 {
      margin: 0; }
    ul#main_nav li.post p {
      margin: 0; }
    ul#main_nav li.post a {
      display: inline-block;
      font-size: 10px;
      font-weight: normal;
      line-height: 10px;
      margin-top: 0px;
      padding-left: 12px;
      background-position: 2px 2px; }
      ul#main_nav li.post a:hover {
        text-decoration: underline; }
  ul#main_nav li h4 {
    color: white;
    padding: 4px 2px; }
  ul#main_nav li a, ul#main_nav li span {
    background-position: 7px center;
    background-repeat: no-repeat;
    line-height: 40px;
    background-color: white;
    margin-bottom: 1px;
    padding-left: 96px;
    font-weight: normal;
    font-size: 13px;
    display: block;
    text-decoration: none; }
  ul#main_nav li span.current {
    background-color: #dfdfdf; }
  ul#main_nav li#bereich_1 > a, ul#main_nav li#bereich_1 > span {
    background-image: url(../images/bereich-1.png); }
  ul#main_nav li#bereich_2 > a, ul#main_nav li#bereich_2 > span {
    background-image: url(../images/bereich-2.png); }
  ul#main_nav li#bereich_3 > a, ul#main_nav li#bereich_3 > span {
    background-image: url(../images/bereich-3.png); }
  ul#main_nav li#bereich_4 > a, ul#main_nav li#bereich_4 > span {
    background-image: url(../images/bereich-4.png); }
  ul#main_nav li#references > a, ul#main_nav li#references > span {
    background-image: url(../images/bereich-5.png); }
  ul#main_nav li ul.sub_menu {
    margin: 0;
    padding: 0;
    list-style: none none; }
    ul#main_nav li ul.sub_menu li {
      margin-bottom: 1px; }
      ul#main_nav li ul.sub_menu li a.active_item {
        background-image: url(../images/pfeil_weiss_s.gif);
        background-position: 5px center; }
      ul#main_nav li ul.sub_menu li a, ul#main_nav li ul.sub_menu li span {
        font-size: 11px;
        color: white;
        margin: 0;
        padding-left: 18px;
        line-height: 25px;
        background-color: #999999;
        background-image: url(../images/pfeil_weiss_e.gif); }
    ul#main_nav li ul.sub_menu ul.sub_menu_2 {
      margin: 0;
      padding: 0;
      list-style: none none; }
      ul#main_nav li ul.sub_menu ul.sub_menu_2 li {
        margin: 0; }
        ul#main_nav li ul.sub_menu ul.sub_menu_2 li a {
          background-color: #333333; }
  ul#main_nav li#bereich_1 a:hover {
    color: #bc2b27; }
  ul#main_nav li#bereich_1 li a:hover, ul#main_nav li#bereich_1 li span.current {
    color: white;
    background-color: #dd6d6a; }
  ul#main_nav li#bereich_2 a:hover {
    color: #2c5bcf; }
  ul#main_nav li#bereich_2 li a:hover, ul#main_nav li#bereich_2 li span.current {
    color: white;
    background-color: #7591d8; }
  ul#main_nav li#bereich_3 a:hover {
    color: #d5a319; }
  ul#main_nav li#bereich_3 li a:hover, ul#main_nav li#bereich_3 li span.current {
    color: white;
    background-color: #e0c16b; }
  ul#main_nav li#bereich_4 a:hover {
    color: #598a50; }
  ul#main_nav li#bereich_4 li a:hover, ul#main_nav li#bereich_4 li span.current {
    color: white;
    background-color: #8aca7f; }
  ul#main_nav li#downloads a:hover {
    color: #bc2b27; }

ul#sitemap_main_nav li a,
ul#sitemap_main_nav li {
  background-color: transparent !important; }

section#content,
section#mitte_bild,
footer#main_footer {
  background-color: white;
  margin-left: 301px;
  width: 689px;
  display: block; }

section#content {
  padding: 30px 25px 30px 25px;
  position: relative;
  min-height: 400px;
  margin-bottom: 1px; }

#mitte_bild {
  width: 609px; }

.main_column {
  padding: 0; }

a.arrow_link,
.product-info > a {
  padding: 0 0 0 11px;
  text-decoration: none; }
  a.arrow_link:hover,
  .product-info > a:hover {
    text-decoration: underline; }

.product-info > a { margin-right: 10px;}

section#mitte_bild {
  margin-left: 301px;
  margin-bottom: 1px;
  height: 193px;
  width: 739px; }

footer#main_footer {
  font-size: 10px;
  color: #cccccc;
  padding: 0 25px;
  line-height: 20px;
  text-align: center; }
  footer#main_footer a {
    color: #cccccc; }

.aside {
  float: right;
  width: 152px;
  margin-left: 10px; }

.aside.home {
  float: right;
  width: 300px;
  margin-left: 10px; }

.company {
  border-right: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
  padding: 5px;
  text-align: left;
  margin-bottom: 20px; }
  .company .department_header {
    clear: both;
    background-color: #dddddd;
    font-size: 10px;
    font-weight: bold;
    margin: 15px 0 5px 0;
    padding: 2px 11px;
    text-align: left;
    text-transform: uppercase; }
    .company .department_header span {
      color: #999999; }
  .company .people {
    margin: 0;
    clear: both;
    padding: 0;
    list-style: none none; }
    .company .people span.person {
      font-size: 9px;
      height: 200px;
      line-height: 11px;
      text-align: center;
      text-transform: uppercase;
      width: 109px;
      display: block;
      margin: 0 3px 10px 0px;
      float: left; }
      .company .people span.person b {
        margin: 4px 0;
        display: block; }
      .company .people span.person span {
        display: block;
        overflow: hidden; }

.company_header {
  font-size: 15px;
  line-height: 30px;
  margin: 0;
  padding: 2px 9px;
  text-transform: uppercase;
  color: white;
  display: block;
  clear: both; }

.anchor_list {
  margin: 18px 0 30px 0;
  padding-left: 20px;
  list-style: none none; }
  .anchor_list li {
    padding: 0; }
    .anchor_list li a.arrow_link .contact {
      margin: 0 auto; }

.location {
  margin-top: 18px;
  position: relative;
  padding: 0 8px; }

#switzerland {
  height: 265px; }

#benelux {
  height: 265px; }

#austria {
  height: 259px; }

#italy {
  height: 259px; }

.map_container {
  position: absolute;
  right: 0;
  bottom: 0; }
  .map_container p {
    margin-bottom: 0px;
    text-align: right;
    display: block; }

.map_default {
  width: 230px;
  height: 120px;
  border: 1px solid #cccccc;
  margin-bottom: 5px; }

.view_map {
  display: block;
  padding: 0 0 0 18px;
  background: url(../images/magnifying_glass_12x12.png) no-repeat 78px center; }

.contact_anchor_list {
  margin: 0 0 30px 0;
  list-style: none none; }
  .contact_anchor_list li {
    padding: 3px 0; }
    .contact_anchor_list li a.flag_link {
      display: block;
      font-size: 13px;
      font-weight: bold;
      line-height: 21px;
      padding-left: 35px;
      text-decoration: none;
      background-position: left center;
      background-repeat: no-repeat; }
      .contact_anchor_list li a.flag_link:hover {
        text-decoration: underline; }
    .contact_anchor_list li .german {
      background-image: url(../images/flagge_de.gif); }
    .contact_anchor_list li .benelux {
      background-image: url(../images/flagge_ne.gif); }
    .contact_anchor_list li .italian {
      background-image: url(../images/flagge_it.gif); }
    .contact_anchor_list li .swiss {
      background-image: url(../images/flagge_ch.gif); }
    .contact_anchor_list li .maroc {
      background-image: url(../images/flagge_ma.gif); }
    .contact_anchor_list li .austrian {
      background-image: url(../images/flagge_au.gif); }

#slurry {
  height: 160px;
  margin: 20px 0 10px 0; }

.download_link {
  text-decoration: none; }
  .download_link:hover, .download_link:active {
    text-decoration: underline; }

.bar {
  margin: 18px 0 0 0;
  padding: 6px 8px;
  color: white;
  clear: both;
  text-transform: uppercase; }
  .bar p, .bar a {
    color: white; }
  .bar p {
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    margin: 0; }

.bar h4 {
  line-height: 30px;
  margin: 0;
  display: inline-block; }

div.bar a.arrow_link {
  text-transform: none;
  color: white;
  background: url(../images/pfeil_weiss_n.gif) no-repeat left 4px; }

.bar div {
  display: inline-block;
  float: right; }

.post {
  margin: 20px 0 40px 0; }
  .post h1 {
    font-size: 16px;
    margin: 5px 0 3px;
    padding: 0; }
  .post h2 {
    font-size: 11px;
    margin-bottom: 10px; }

ul.post_pictures {
  margin: 0;
  padding: 10px;
  list-style: none;
  overflow: auto;
  background-color: #f2f2f2; }
  ul.post_pictures li {
    float: left;
    margin: 0 10px;
    width: 84px; }

.main_post_picture {
  width: 557px;
  border: 1px solid #cccccc;
  padding: 1px;
  margin-top: 15px; }

.post_picture {
  margin: -right 10px;
  display: block;
  text-align: center; }
  .post_picture img {
    border: 1px solid #cccccc;
    padding: 1px; }

.ap_text {
  background-color: #efefef;
  min-height: 150px;
  padding: 20px; }
  .ap_text p {
    margin-top: 0; }
  .ap_text .anchor_list {
    height: 20px;
    padding: 0; }
    .ap_text .anchor_list li {
      display: block;
      float: left;
      margin: 10px 20px 18px 0; }
    .ap_text .anchor_list h4 {
      padding-left: 34px;
      background: url(../images/4.gif) no-repeat left center;
      line-height: 20px;
      font-size: 13px;
      height: 20px; }

.download_teaser {
  margin: 20px 0;
  background-color: white;
  border: 1px solid #cccccc;
  border-top: none; }
  .download_teaser p {
    font-size: 12px;
    line-height: 15px;
    margin: 0;
    padding: 0 10px;
    font-weight: bold; }
  .download_teaser > a.arrow_link {
    float: right;
    margin: -20px 10px 10px 0;
    background: none; }
  .download_teaser .downloads_list {
    padding: 0 10px;
    list-style: none none;
    margin: 10px 0; }
    .download_teaser .downloads_list li {
      line-height: 14px; }
      .download_teaser .downloads_list li a {
        float: none;
        margin: 0;
        line-height: 18px;
        font-size: 13px;
        font-weight: normal; }
  .download_teaser .bar {
    line-height: 30px;
    height: 30px;
    padding: 0px 2px 0px 10px;
    margin: 0 0 10px;
    text-transform: none; }

.product_group {
  margin-bottom: 20px;
  padding: 5px;
  border-right: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  border-left: 1px solid #cccccc; }
  .product_group h3 {
    margin: 10px 0; }
  .product_group .bar {
    padding-right: 0;
    margin-bottom: 2px; }
  .product_group .bar p {
    text-transform: none;
    color: #666666;
    font-size: 12px; }

table.image-row {
  width: 100%;
  border: medium none !important; }

table.image-row tr td img {
  width: 100%; }

table.product {
  font-size: 14px;
  line-height: 16px;
  padding: 2px 0 2px 8px;
  margin: 0; }
  table.product p {
    margin: 0; }
  table.product tr td {
    position: relative; }

table.milestones {
  font-size: 12px;
  line-height: 16px; }

table.milestones tr td {
  border-top: 1px solid #cccccc;
  padding-bottom: 10px;
  vertical-align: top; }

table.milestones tr td:first-child {
  padding-right: 10px; }

.bar table {
  width: 100%;
  padding: 0;
  border: 0;
  margin: 0; }
  .bar table td {
    width: 50%;
    vertical-align: middle;
    padding: 0; }
    .bar table td h4 {
      line-height: 18px;
      color: white;
      height: 20px; }

img.product_overlay {
  position: absolute; }

.product_group_table {
  width: 100%;
  padding: 0 8px;
  border: 0;
  border-bottom: 1px solid #cccccc; }
  .product_group_table tr {
    height: 20px; }
    .product_group_table tr td {
      width: 50%;
      vertical-align: middle;
      padding: 0; }
      .product_group_table tr td h3.copy {
        font-weight: normal;
        margin-bottom: 0; }
      .product_group_table tr td ul.anchor_list {
        padding-left: 0;
        margin-bottom: 18px; }

.bar .standard_shades_table tr {
  height: 10px; }
  .bar .standard_shades_table tr td {
    width: 300px;
    height: 18px; }
  .bar .standard_shades_table tr td.column_header {
    width: 115px;
    padding: 0;
    text-align: center; }
    .bar .standard_shades_table tr td.column_header p {
      font-size: 10px;
      line-height: 11px; }

ul#accordion {
  padding: 0;
  list-style: none none; }
  ul#accordion a {
    text-decoration: none; }
  ul#accordion li {
    list-style-type: none;
    padding: 0;
    margin: 0; }
    ul#accordion li.tag {
      border-bottom: 1px solid #cccccc;
      padding: 0 12px;
      font-weight: bold;
      margin-top: 10px; }
    ul#accordion li a.heading.active {
      background-image: url(../images/arrow_white.gif);
      background-position: 655px -18px;
      background-repeat: no-repeat;
      background-color: #bc2b27; }
    ul#accordion li a.heading {
      font-size: 14px;
      font-weight: bold;
      display: block;
      line-height: 30px;
      color: white;
      padding: 0px 12px;
      margin-bottom: 0;
      background: #999999 url(../images/arrow_white.gif) 655px 12px no-repeat;
      border-bottom: 1px solid white; }
      ul#accordion li a.heading:hover {
        background-color: #bc2b27; }
      ul#accordion li a.heading span {
        font-size: 12px;
        font-weight: normal;
        color: white; }
    ul#accordion li ul {
      list-style: none none;
      padding: 0;
      margin: 0 0 10px 0; }
      ul#accordion li ul li a {
        display: block;
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        padding: 5px 12px;
        background: url(../images/pdf_icon.gif) 655px center no-repeat; }
        ul#accordion li ul li a:hover {
          background: url(../images/get_pdf_icon.gif) 655px center no-repeat;
          text-decoration: underline; }
      ul#accordion li ul li.highlight_list {
        background-color: #f8e9e9; }

a.icon_link_to_pdf {
  padding-top: 100px;
  text-align: center;
  width: 150px;
  font-size: 12px;
  display: inline-block; }
  a.icon_link_to_pdf.bauindustrie {
    background: transparent url(../images/lanxess-farbtonkarte_bauindustrie.jpg) no-repeat center top; }
  a.icon_link_to_pdf.farben_lacke {
    background: transparent url(../images/lanxess-farbtonkarte_farben.jpg) no-repeat center top; }
  a.icon_link_to_pdf.kunststoffe {
    background: transparent url(../images/lanxess-farbtonkarte_kunststoffe.jpg) no-repeat center top; }
  a.icon_link_to_pdf.scholz_karte {
    background: transparent url(../images/scholz-farbtonkarte.jpg) no-repeat center top; }
  a.icon_link_to_pdf.scholz_karte_pigment_preparations {
    background: transparent url(../images/scholz-farbtonkarte-pigment-preparations.jpg) no-repeat center top; }
  a.icon_link_to_pdf.company_broschure {
    background: transparent url(../images/scholz-broschure.jpg) no-repeat center top; }
  a.icon_link_to_pdf.dosingsystems {
    background: transparent url(../images/scholz-dosingsystems-broschure.jpg) no-repeat center top; }
  a.icon_link_to_pdf.umweltleitlinien {
    background: transparent url(../images/scholz-umwelt.jpg) no-repeat center top; }
  a.icon_link_to_pdf.oekoprofit-zertifikat {
    background: transparent url(../images/scholz-oekoprofit-icon.jpg) no-repeat center top; }
  a.icon_link_to_pdf.exacdos {
    background: transparent url(../images/scholz-exacdos-icon.jpg) no-repeat center top; padding-top: 75px;}

#current_link {
  display: none; }

.news {
  border: 1px solid #cccccc;
  border-top: none;
  padding: 10px; }

ul.posts {
  list-style: none;
  margin: 0 0 10px 0;
  padding: 0; }
  ul.posts li.post {
    border: none;
    margin: 0 0 10px 0;
    padding: 0;
    font-size: 14px;
    margin-bottom: 15px;
    font-weight: bold; }
    ul.posts li.post p {
      margin: 0; }

ul.jobs {
  list-style: none;
  border: 1px solid #cccccc;
  margin: 0;
  padding: 0; }
  ul.jobs li {
    border-top: 1px solid #cccccc;
    padding: 0;
    margin: 0; }
    ul.jobs li:first-child {
      border-top: none; }
    ul.jobs li a {
      line-height: 30px;
      padding: 0 20px;
      display: block;
      font-size: 15px;
      font-weight: bold;
      text-decoration: none; }
      ul.jobs li a:hover {
        background-color: #f2f2f2; }

header.jobs {
  margin-top: 30px;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  padding: 20px 0; }
  header.jobs h2 {
    font-size: 26px;
    line-height: 28px;
    height: auto;
    margin-bottom: 12px; }
  header.jobs h3 {
    font-size: 18px;
    margin-bottom: 0;
    font-weight: normal; }

body.super_groups section#content img {
  max-width: 100%; }

body.super_groups h3 {
  background-color: #e2e2e2;
  margin-top: 60px;
  padding: 5px 10px; }
body.super_groups h4 {
  margin-bottom: 0.6em; }
body.super_groups .bar {
  margin-top: 60px; }
body.super_groups ul.downloads_list {
  margin-top: 0;
  padding: 10px 20px;
  border: 1px solid #cccccc;
  border-top: none; }
body.super_groups .box_item {
  border: 1px solid #cccccc;
  padding: 10px;
  margin: 20px 0;
  min-height: 75px; }
  body.super_groups .box_item p {
    margin: 6px 0; }
body.super_groups p {
  margin-top: 0; }
body.super_groups table {
  width: 100%; }
  body.super_groups table thead {
    background-color: #e2e2e2; }
  body.super_groups table tbody tr:nth-child(even) {
    background-color: #efefef; }
body.super_groups .chemical_table {
  border-collapse: collapse; }
  body.super_groups .chemical_table td {
    border-bottom: 3px solid white;
    padding: 4px 7px;
    background-color: #e2e2e2;
    color: #444444; }
    body.super_groups .chemical_table td.label {
      color: white;
      border-right: 3px solid white; }
      body.super_groups .chemical_table td.label.black {
        background-color: #444444; }
      body.super_groups .chemical_table td.label.yellow {
        background-color: #f1b419; }
      body.super_groups .chemical_table td.label.red {
        background-color: #bc2c27; }
    body.super_groups .chemical_table td.arrow {
      font-size: 70%;
      background: #e2e2e2 url("http://production.harold-scholz.de/sg/eisenoxidpigmente/arrow.gif") no-repeat bottom right;
      overflow: hidden;
      width: 30px; }
  body.super_groups .chemical_table.black td {
    background-color: #444444; }
  body.super_groups .chemical_table.yellow td {
    background-color: #f1b419; }
  body.super_groups .chemical_table.red td {
    background-color: #bc2c27; }

ul#super_groups {
  margin: 0;
  padding: 0;
  list-style: none; }
  ul#super_groups li {
    position: relative;
    border: 1px solid #cccccc;
    margin-bottom: 10px; }
    ul#super_groups li img.super_group_image {
      position: absolute;
      left: 0;
      top: 0; }
    ul#super_groups li a {
      padding-left: 130px;
      display: block;
      line-height: 68px;
      font-size: 18px;
      font-weight: bold;
      text-decoration: none;
      background: transparent url("../images/icons/arrow_right_grey.png") no-repeat 655px center; }
    ul#super_groups li:hover {
      background-color: #e2e2e2; }

.super_group_product_groups {
  float: right;
  width: 190px;
  margin-left: 10px; }
  .super_group_product_groups p {
    font-size: 11px;
    line-height: 13px;
    font-weight: bold;
    margin-bottom: 10px; }
  .super_group_product_groups ul {
    margin: 10px 0;
    list-style: none;
    padding: 0;
    border: 1px solid #cccccc;
    background-color: white; }
    .super_group_product_groups ul li {
      border-top: 1px solid #cccccc;
      position: relative; }
      .super_group_product_groups ul li:first-child {
        border: none; }
      .super_group_product_groups ul li i {
        position: absolute;
        height: 4px;
        width: 7px;
        right: 10px;
        top: 13px;
        background: transparent url("../images/pfeil_bereich2_s.gif"); }
      .super_group_product_groups ul li.active i {
        height: 4px;
        width: 7px;
        right: 10px;
        top: 13px;
        background: transparent url("../images/pfeil_bereich2_n.gif"); }
      .super_group_product_groups ul li a {
        text-decoration: none;
        display: block;
        padding: 6px 5px;
        font-size: 11px;
        line-height: 16px; }
      .super_group_product_groups ul li .application_fields {
        display: none;
        position: absolute;
        right: -20px;
        width: 270px;
        border: 1px solid #cccccc;
        background-color: white;
        z-index: 100; }
        .super_group_product_groups ul li .application_fields .header {
          background-color: #e2e2e2;
          padding: 0 10px;
          line-height: 30px; }
        .super_group_product_groups ul li .application_fields div {
          padding: 10px; }
          .super_group_product_groups ul li .application_fields div h4 {
            margin-bottom: 5px; }
          .super_group_product_groups ul li .application_fields div ul {
            border: none;
            margin: 0; }
            .super_group_product_groups ul li .application_fields div ul li {
              border: none; }
              .super_group_product_groups ul li .application_fields div ul li a {
                font-weight: normal;
                padding-left: 10px; }
              .super_group_product_groups ul li .application_fields div ul li a:hover {
                background-color: transparent;
                text-decoration: underline; }

.super_group_product_groups > ul > li > a {
  background: #f0f0f0 url("../images/super_groups_product_groups_verlauf_sprite.jpg") repeat-x top left;
  background-image: linear-gradient(bottom, #e2e2e2 19%, #f0f0f0 80%);
  background-image: -o-linear-gradient(bottom, #e2e2e2 19%, #f0f0f0 80%);
  background-image: -moz-linear-gradient(bottom, #e2e2e2 19%, #f0f0f0 80%);
  background-image: -webkit-linear-gradient(bottom, #e2e2e2 19%, #f0f0f0 80%);
  background-image: -ms-linear-gradient(bottom, #e2e2e2 19%, #f0f0f0 80%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.19, #e2e2e2), color-stop(0.8, #f0f0f0)); }
  .super_group_product_groups > ul > li > a:hover {
    background: #e2e2e2 url("../images/super_groups_product_groups_verlauf_sprite.jpg") repeat-x left -28px;
    background-image: linear-gradient(bottom, #f0f0f0 19%, #e2e2e2 80%);
    background-image: -o-linear-gradient(bottom, #f0f0f0 19%, #e2e2e2 80%);
    background-image: -moz-linear-gradient(bottom, #f0f0f0 19%, #e2e2e2 80%);
    background-image: -webkit-linear-gradient(bottom, #f0f0f0 19%, #e2e2e2 80%);
    background-image: -ms-linear-gradient(bottom, #f0f0f0 19%, #e2e2e2 80%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.19, #f0f0f0), color-stop(0.8, #e2e2e2)); }

.flash_notice {
  padding: 10px;
  background: transparent url("../images/trans.png");
  font-size: 13px;
  color: white;
  position: absolute;
  z-index: 9999;
  text-align: center;
  width: 100%; }

.errorExplanation {
  padding: 20px;
  border: "3px" "solid" #d5a319;
  background-color: #e0c16b; }

.fieldWithErrors {
  display: inline; }
  .fieldWithErrors input[type=text],
  .fieldWithErrors textarea {
    border: "2px" "solid" #d5a319 !important; }
