@charset "UTF-8";
/* CSS Document */
/* Colors */
.bereich_0 {
  background-color: #666666; }

.bereich_1 {
  background-color: #bc2b27; }

.bereich_1_hell {
  background-color: #dd6d6a; }

.bereich_1_dunkel {
  background-color: #982517; }

.bereich_2 {
  background-color: #2c5bcf; }

.bereich_2_hell {
  background-color: #7591d8; }

.bereich_2_dunkel {
  background-color: #242c77; }

.bereich_3 {
  background-color: #d5a319; }

.bereich_3_hell {
  background-color: #e0c16b; }

.bereich_3_dunkel {
  background-color: #d58415; }

.bereich_4 {
  background-color: #598a50; }

.bereich_4_hell {
  background-color: #8aca7f; }

.bereich_4_dunkel {
  background-color: #446647; }

.home_txt_0, .bereich_0_text {
  color: #bc2b27; }

.home_txt_1, .bereich_1_text {
  color: #bc2b27; }

.home_txt_2, .bereich_2_text {
  color: #2c5bcf; }

.home_txt_3, .bereich_3_text {
  color: #d5a319; }

.home_txt_4, .bereich_4_text {
  color: #598a50; }

/*-------------------------- */
/* STANDARD HTML TAG RESET  */
/*-------------------------- */
body, h1, h2, h3, img, p, ul, li, form {
  border: 0;
  margin: 0;
  padding: 0; }

/* Mixins */
/* custom classes */
.center_box {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 960px; }

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }
