%table{ :width => "100%"}
  %tr
    %td
      %h2.de= "Deutsch"

      %p
        = f.label :title_de, "Titel (DE)"
        %br
        = f.text_field :title_de
  
      %p
        = f.label :text_de, "Text (DE)"
        %br
        = f.text_area :text_de
    %td
      %h2.en= "Englisch"

      %p
        = f.label :title_en, "Title (EN)"
        %br
        = f.text_field :title_en
  
      %p
        = f.label :text_en, "Text (EN)"
        %br
        = f.text_area :text_en

%hr
%h3= "Produktgruppen (A-Z)"
%ul.product_groups
  - ProductGroup.ordered_name.each do |product_group|
    %li
      =# check_box_tag 'super_group[product_group_ids][]', product_group.id, f.object.product_groups.include?(product_group)
      = #check_box_tag :product_group_ids, product_group.id, @super_group.product_groups.include?(product_group), :name => 'super_group[product_group_ids][]'
      = check_box_tag "super_group[product_group_ids][]", product_group.id, @super_group.product_groups.include?(product_group)
      %label= product_group.title_de
%hr