- content_tag :tr, super_group, :class => "list_item #{cycle('odd','even')}" do
  %td.post_title= "(#{super_group.id}) #{truncate(super_group.title_de, 40)}"
  %td.button_group
    = link_to "Bearbeiten", edit_admin_super_group_path(super_group), :class => "edit_link", :title => "Bearbeiten"
    = link_to t(:delete), admin_super_group_path(super_group), :method => :delete, :confirm => "Sind Sie sicher?", :class => "delete_link", :title => "Löschen"
    