= link_go_back admin_super_groups_path, :class => "right"
%h1="Supergruppe bearbeiten"

- form_for @super_group, :url => admin_super_group_path(@super_group), :method => :update do |f|
  = f.error_messages
  = render "form", :f => f
  = submit_button("Aktualisieren",f,:cancel_path => admin_super_groups_path, :class => "right")
