id,title_de,title_en,permalink,text_de,text_en,created_at,updated_at
<%= FasterCSV.generate do |csv|
  SuperGroup.all(:order => "id ASC").each do |super_group|
    csv << [ super_group[:id],super_group[:title_de],super_group[:title_en],super_group[:permalink],super_group[:text_de],super_group[:text_en],super_group[:created_at],super_group[:updated_at] ]
  end
end %>

