= link_to "Supergruppe erstellen", new_admin_super_group_path, :class => "right  post_new_link" 
%h1 Supergruppen
= link_to "Download CSV-Datei", admin_super_groups_path(:format => "csv")

%table.posts{ :cellspacing => "0", :cellpadding => "0", :border => "0" }
  %th Titel (DE)
  = render @super_groups
  
= will_paginate @super_groups