= link_go_back admin_super_groups_path, :class => "right"

%h1="Supergruppe erstellen"

- form_for @super_group, :url => admin_super_groups_path, :html => { :method => :post } do |f|
  = f.error_messages
  = render "form", :f => f
  = submit_button("Erstellen",f,:cancel_path => admin_super_groups_path, :class => "right")
