%table{ :width => "100%"}
  %tr
    %td
      %h2.de= "Deutsch"

      %p
        = f.label :title_de, "Titel (DE)"
        %br
        = f.text_field :title_de
  
      %p
        = f.label :text_de, "Text (DE)"
        %br
        = f.text_area :text_de
    %td
      %h2.en= "Englisch"

      %p
        = f.label :title_en, "Title (EN)"
        %br
        = f.text_field :title_en
  
      %p
        = f.label :text_en, "Text (EN)"
        %br
        = f.text_area :text_en
  
%p.note
  = "Einfache Textformatierungen:"
  %br
  = "*fett*, \"link\":http://www.link.de, mehr Beispiele hier: #{link_to 'textile', 'http://www.textism.com/tools/textile/', :class => 'view_website'}"