- content_tag :tr, product_group, :class => "list_item #{cycle('odd','even')}" do
  %td.post_title= "(#{product_group.id}) #{truncate(product_group.title_de, 40)} [#{product_group.permalink}]"
  %td.button_group
    = link_to "Bearbeiten", edit_admin_product_group_path(product_group), :class => "edit_link", :title => "Bearbeiten"
    = link_to t(:delete), admin_product_group_path(product_group), :method => :delete, :confirm => "Sind Sie sicher?", :class => "delete_link", :title => "Löschen"
    