= link_go_back admin_product_groups_path, :class => "right"
%h1="Produktgruppe bearbeiten"

- form_for @product_group, :url => admin_product_group_path(@product_group), :method => :update do |f|
  = f.error_messages
  = render "form", :f => f
  = submit_button("Aktualisieren",f,:cancel_path => admin_product_groups_path, :class => "right")
