= link_to "Produktgruppe erstellen", new_admin_product_group_path, :class => "right  post_new_link" 
%h1 Produktgruppen
= link_to "Download CSV-Datei", admin_product_groups_path(:format => "csv")

%table.posts{ :cellspacing => "0", :cellpadding => "0", :border => "0" }
  %th Titel (DE)
  = render @product_groups
  
= will_paginate @product_groups