id,title_de,title_en,permalink,text_de,text_en,created_at,updated_at
<%= FasterCSV.generate do |csv|
  ProductGroup.all(:order => "id ASC").each do |product_group|
    csv << [ product_group[:id],product_group[:title_de],product_group[:title_en],product_group[:permalink],product_group[:text_de],product_group[:text_en],product_group[:created_at],product_group[:updated_at] ]
  end
end %>

