= link_go_back admin_product_groups_path, :class => "right"

%h1="Produktgruppe erstellen"

- form_for @product_group, :url => admin_product_groups_path, :html => { :method => :post } do |f|
  = f.error_messages
  = render "form", :f => f
  = submit_button("Erstellen",f,:cancel_path => admin_product_groups_path, :class => "right")
