%li#bereich_1
  = link_to_function t("main_nav.about"), :class => "bereich_1"

  %ul.sub_menu
    %li= link_to_unless_current t("sub_menu.home"), root_path
    %li= link_to_unless_current t("sub_menu.company"), company_path
    %li= link_to_unless_current t("sub_menu.history"), history_path
    %li= link_to_unless_current t("sub_menu.people"), people_path
    %li= link_to_unless_current "#{t('sub_menu.jobs')}#{show_jobs_size}", jobs_path
    %li= link_to_unless_current t("sub_menu.news"), posts_path

%li#bereich_2 
  = link_to_unless_current t("main_nav.super_groups"), super_groups_path, :class => "bereich_2"

%li#bereich_3
  = link_to_function t("main_nav.range_of_application"), :class => "bereich_3"
  %ul.sub_menu
    - ApplicationField.roots.ordered.each do |app_field|
      %li
        = app_field.children.present? ? link_to(app_field.send("title_" + I18n.locale.to_s),"#") : link_to_unless_current(app_field.send("title_" + I18n.locale.to_s), application_field_path(app_field))
        - unless app_field.children.blank?
          %ul.sub_menu_2
            - app_field.children.each do |child|
              %li= link_to_unless_current "#{localized_attr_for(child,:title)}", application_field_path(child)
              
%li#bereich_4
  = link_to_function t("main_nav.service"), :class => "bereich_4"

  %ul.sub_menu
    %li= link_to_unless_current t("sub_menu.packaging"), packaging_path
    %li= link_to_unless_current t("sub_menu.technical_support"), technical_support_path
    %li= link_to_unless_current t("sub_menu.dosing_systems"), dosing_systems_path
    %li= link_to_unless_current t("sub_menu.press_releases"), press_path
    %li= link_to_unless_current t("sub_menu.partner_links"), partner_path

%li#references
  = link_to_unless_current t("main_nav.references"), "http://referenzen.haroldscholz.de", :class => "bereich_5"


%li#downloads
  = link_to_unless_current "Downloads", downloads_path, :class => "bereich_1"