%li.first= link_to_unless_current t("header_nav.contact"), contact_us_path
%li= link_to_unless_current t("header_nav.sustainability"), sustainability_path
%li= link_to "#{t('header_nav.jobs')}#{show_jobs_size}", jobs_path
%li= link_to t("header_nav.tos"), "http://production.harold-scholz.de/pdfs/scholz_agb_#{I18n.locale.to_s}.pdf", :rel => "nofollow", :onClick => "_gaq.push(['_trackEvent','Scholz AGB (#{I18n.locale.to_s})','PDF',this.href]);"
%li= link_to t("header_nav.iso"), "http://production.harold-scholz.de/pdfs/ISO_9001_2008_certificate_#{I18n.locale.to_s}.pdf", :rel => "nofollow", :onClick => "_gaq.push(['_trackEvent','ISO_9001_2000_certificate_#{I18n.locale.to_s}','PDF',this.href]);"
%li= link_to "REACH", "http://production.harold-scholz.de/pdfs/#{I18n.t(:reach_statement_path)}.pdf", :rel => "nofollow", :onClick => "_gaq.push(['_trackEvent','#{I18n.t(:reach_statement_path)}','PDF',this.href]);"
%li= link_to t("header_nav.declaration-of-performance"), "http://production.harold-scholz.de/pdfs/leistungserklaerung-kat-a-b-#{I18n.locale.to_s}.pdf", :rel => "nofollow", :onClick => "_gaq.push(['_trackEvent','leistungserklaerung-kat-a+b-#{I18n.locale.to_s}','PDF',this.href]);"
%li= link_to_unless_current t("header_nav.imprint"), imprint_path, :rel => "nofollow" 
