%p
  = f.label :title_de, "Job-Bezeichnung"
  %br
  = f.text_field :title_de

%p
  = f.label :body_de, "Inhalt"
  %br
  = f.text_area :body_de
  
%p.note
  = "Einfache Textformatierungen:"
  %br
  = "*fett*, \"link\":http://www.link.de, mehr Beispiele hier: #{link_to 'textile', 'http://www.textism.com/tools/textile/', :class => 'view_website'}"


%p
  = f.label :region, "Ort"
  %br
  = f.text_field :region

%p
  = f.label :author, "Autor"
  %br
  = f.text_field :author

%p
  = f.label :active, "Aktiv?"
  = f.check_box :active
