- content_tag :tr, job, :class => "list_item #{cycle('odd','even')}" do
  %td.post_title= truncate(job.title_de, :length => 40)
  %td.post_date= check_for(job.active?)
  %td.button_group
    = link_to "Bearbeiten", edit_admin_job_path(job), :class => "edit_link", :title => "Bearbeiten"
    = link_to t(:delete), admin_job_path(job), :method => :delete, :confirm => "Sind Sie sicher?", :class => "delete_link", :title => "Löschen"
