= link_go_back admin_jobs_path, :class => "right"
%h1="Stellenausschreibung bearbeiten"


- form_for @job, :url => admin_job_path(@job), :html => { :multipart => true }, :method => :update do |f|
  = f.error_messages
  = render "form", :f => f
  = submit_button("Aktualisieren",f,:cancel_path => admin_jobs_path, :class => "right")
