= link_to "Stellenausschreibung erstellen", new_admin_job_path, :class => "right  post_new_link" 
%h1 News

%table.posts{ :cellspacing => "0", :cellpadding => "0", :border => "0" }
  %th Titel (DE)
  %th Aktiv
  = render @jobs
  
= will_paginate @jobs
