=link_go_back admin_jobs_path, :class => "right"

%h1="Stellenausschreibung erstellen"

- form_for @job, :url => admin_jobs_path, :html => { :multipart => true, :method => :post } do |f|
  = f.error_messages
  = render "form", :f => f
  = submit_button("Erstellen",f,:cancel_path => admin_jobs_path, :class => "right")
