%table{ :width => "100%"}
  %tr
    %td
      %h2.de= "Deutsch"

      %p
        = f.label :title_de, "Titel (DE)"
        %br
        = f.text_field :title_de
  
      %p
        = f.label :content_de, "Inhalt (DE)"
        %br
        = f.text_area :content_de
    %td
      %h2.en= "Englisch"

      %p
        = f.label :title_en, "Title (EN)"
        %br
        = f.text_field :title_en
  
      %p
        = f.label :content_en, "Content (EN)"
        %br
        = f.text_area :content_en
  
%p.note
  = "Einfache Textformatierungen:"
  %br
  = "*fett*, \"link\":http://www.link.de, mehr Beispiele hier: #{link_to 'textile', 'http://www.textism.com/tools/textile/', :class => 'view_website'}"

%p
  = f.label :author, "Autor"
  %br
  = f.text_field :author

%p
  = f.label :date, "Datum"
  %br
  = f.date_select :date
  
%h2 Bilder
.pictures
  - f.fields_for :pictures do |builder|
    = builder.error_messages
    = render "picture_fields", :f => builder
  
  = link_to_add_fields "Bild hinzüfügen", f, :pictures
