- content_tag :tr, post, :class => "list_item #{cycle('odd','even')}" do
  %td.post_title= truncate(post.title_de, :length => 40)
  %td.post_title= truncate(post.title_en, :length => 40)
  %td.post_date= I18n.l(post.date)
  %td.button_group
    = link_to "Bearbeiten", edit_admin_post_path(post), :class => "edit_link", :title => "Bearbeiten"
    = link_to t(:delete), admin_post_path(post), :method => :delete, :confirm => "Sind Sie sicher?", :class => "delete_link", :title => "Löschen"
    