= link_go_back admin_posts_path, :class => "right"
%h1="News bearbeiten"


- form_for @post, :url => admin_post_path(@post), :html => { :multipart => true }, :method => :update do |f|
  = f.error_messages
  = render "form", :f => f
  = submit_button("Aktualisieren",f,:cancel_path => admin_posts_path, :class => "right")
