= link_to "News erstellen", new_admin_post_path, :class => "right  post_new_link" 
%h1 News

%table.posts{ :cellspacing => "0", :cellpadding => "0", :border => "0" }
  %th Titel (DE)
  %th Title (EN)
  %th Datum
  = render @posts
  
= will_paginate @posts
