=link_go_back admin_posts_path, :class => "right"

%h1="News erstellen"

- form_for @post, :url => admin_posts_path, :html => { :multipart => true, :method => :post } do |f|
  = f.error_messages
  = render "form", :f => f
  = submit_button("Erstellen",f,:cancel_path => admin_posts_path, :class => "right")
