-# %a{ :name => product_group.permalink }
-# %div{ :class => "bar bereich_#{@bereich}"}
-#   %h4= localized_attr_for(product_group, :title)
-#   = link_to_top
- div_for product_group do
  - if localized_attr_for(product_group, :text).present?
    = textilize(localized_attr_for(product_group, :text))
  - else
    %h3= t(".standard_shades", :name => localized_attr_for(product_group, :title)) if product_group.products
  - unless !product_group.super_groups.present?
    %p.small= "#{t('more_info_under')} #{product_group.super_groups.map{ |sg| link_to(localized_attr_for(sg,:title).upcase, super_group_path(sg))}.join(', ')}"
  - color_names = product_group.products.valid.map {|p| p.color_name}.uniq#.sort_by {|pg| pg.title_de if pg.present?}
  - unless color_names.blank?
    - color_names.each do |color_name|
      - if color_name
        - products =  @application_field.products.find(:all, :conditions => {:product_group_id => product_group.id, :color_name_id => color_name.id })
        - unless products.blank?
          %div{ :class => "bar grey" }
            %table.standard_shades_table{ :cellspacing => "0", :cellpadding => "0", :width => "100%"}
              %tr
                %td
                  %p= "#{t('.standard_shades_for', :name => localized_attr_for(color_name, :title).titleize)}"
                %td.column_header
                  %p= column_header_for(@application_field,1)
                %td.column_header
                  %p= column_header_for(@application_field,2)
          = render :partial => "products/product", :collection => products, :locals => { :application_field => @application_field, :product_group => product_group, :color_name => color_name}
    
