Nachricht:
= @message

= "-----------------------"

Natur der Anfrage: 
= "#{@nature}"

= "-----------------------"

Adresse:
= "Firma: #{@company}"
= "Name: #{@full_name}"
= "Email: #{@email}"


= "Straße: #{@street}"
= "PLZ, Ort: #{@zip} #{@city}"
= "Land: #{@country}"
= "Telefon: #{@phone}"
= "Telefax: #{@fax}"


= "Branche: #{@industry}"
= "Interesse an: #{@application_field}"