%p#color_number
  = f.label :number, "Farbnummer"
  %br
  = f.text_field :number
  %span.color_number_notice z.B. 180 B
  
  
%p
  = f.label :color_name_id, "Farbname"
  = f.select :color_name_id, ColorName.all.map {|c| [c.title_de, c.id]}, :include_blank => true

#choose_color
  %p#shade_1.color_shade
    = f.label :shade_1, "Ton 1"
    %br
    = f.text_field :shade_1, :class => "colorfield"
    %span.color_preview{:style => "background-color:##{f.object.shade_1}"}
    %span.shade_notice Bitte Farbton für die <br />linke Spalte auswählen

  %p#shade_2.color_shade
    = f.label :shade_2, "Ton 2"
    %br
    = f.text_field :shade_2, :class => "colorfield"
    %span.color_preview{:style => "background-color:##{f.object.shade_2}"}
    %span.shade_notice Bitte Farbton für die <br />rechte Spalte auswählen

%p
  = f.label :product_group_id, "Produktgruppe"
  = f.select :product_group_id, ProductGroup.all.map {|c| [c.title_de, c.id]}

%p{ :style => "position: relative", :class => "labeled_field"}
  = f.label :url, "URL"
  = f.text_field :url
  %span.placeholder= "http://www.example.com"

%hr
%h1= "Anwendungsgebiete (A-Z)"
%ul.application_fields
  - ApplicationField.ordered_name.each do |application_field|
    - unless application_field.children.present?
      %li
        = check_box_tag 'product[application_field_ids][]', application_field.id, f.object.application_fields.include?(application_field)
        %label= application_field.title_de
%hr
%h1= "Zusatzinfo"

%table{ :cellspacing => "0", :cellpadding => "0", :border => "0", :class => "text_area", :width => "600"}
  %tr
    %td{:width => "290"}
      %h2.de= "Deutsch"
  
      %p
        = f.label :info_de, "Info (DE)"
        %br
        = f.text_area :info_de
    %td.spacer{ :width => "20"}
    %td{:width => "290"}
      %h2.en= "Englisch"
      %p
        = f.label :info_en, "Info (EN)"
        %br
        = f.text_area :info_en
%p.note
  = "Einfache Textformatierungen:"
  %br
  = "*fett*, \"link\":http://www.link.de, mehr Beispiele hier: #{link_to 'textile', 'http://www.textism.com/tools/textile/', :class => 'view_website'}"