- content_tag :tr, product, :class => "list_item #{cycle('odd','even')}" do
  %td
    %b= "#{product.number} (#{product.color_name.title_de}/#{product.color_name.title_en})" if product.color_name.present?
    - unless localized_attr_for(product, :info).blank?
      %p.small
        = "<b>Info</b>: #{localized_attr_for(product, :info)}"
  %td{ :width => "115", :style => "background-color:##{product.shade_1}; border: 1px solid #CCC"}
    - if product.url.present?
      = link_to image_tag("blank.gif", :width => "100%", :height => "35", :border => "0"), product.url
    - else
      = image_tag("blank2.gif", :width => "100%", :height => "35", :border => "0")
  %td{ :width => "4"}
  %td{ :width => "115", :style => "background-color:##{product.shade_2}; border: 1px solid #CCC"}
    - if product.url.present?
      = link_to image_tag("blank.gif", :width => "100%", :height => "35", :border => "0"), product.url
    - else
      = image_tag("blank2.gif", :width => "100%", :height => "35", :border => "0")
  %td.button_group
    = link_to "Bearbeiten", edit_admin_product_path(product), :class => "edit_link", :title => "Bearbeiten"
    = link_to t(:delete), admin_product_path(product), :method => :delete, :confirm => "Sind Sie sicher?", :class => "delete_link", :title => "Löschen"
    