= link_go_back admin_products_path, :class => "right"

%h1="Produkt bearbeiten"

- form_for @product, :url => admin_product_path(@product), :method => :update do |f|
  = f.error_messages
  = render "form", :f => f
  = submit_button("Aktualisieren",f,:cancel_path => admin_products_path, :class => "right")