= link_to "Produkt/Farbe erstellen", new_admin_product_path, :class => "right  post_new_link" 
%h1 Produkte / Farben
= link_to "Download CSV-Datei", admin_products_path(:format => "csv")
= link_to "Download Farbnamen", admin_color_names_path(:format => "csv")

- form_for @search do |f|
  = f.label :number_like, 'Farbnummer'
  = f.text_field :number_like, :style => "width:30px;"
  = f.submit 'Suchen'

%table.products{ :cellspacing => "0", :cellpadding => "0", :border => "0" }
  %th= order @search, :by => :number, :as => "Nummer"
  %th Ton 1
  %th 
  %th Ton 2
  = render @products
  
= will_paginate @products