id,product_group_id,number,color_name_id,info_de,info_en,shade_1,shade_2,url,created_at,updated_at
<%= FasterCSV.generate do |csv|
  Product.all(:order => "id ASC").each do |product|
    csv << [ product[:id],product[:product_group_id],product[:number],product[:color_name_id],product[:info_de],product[:info_en],product[:shade_1],product[:shade_2],product[:url],product[:created_at],product[:updated_at] ]
  end
end %>