= link_go_back admin_products_path, :class => "right"

%h1="Produkt erstellen"

- form_for @product, :url => admin_products_path, :html => { :method => :post } do |f|
  = f.error_messages
  = render "form", :f => f
  = submit_button("Erstellen",f,:cancel_path => admin_products_path, :class => "right")