= main_header( :header => "Wir machen in Farbe" )

= mitte_bild("mittebild27.jpg")

= bereichs_subheader(@bereich, :header => "Dosiertechnik")

%ul.anchor_list
  %li
    = link_with_arrow("Flüssigdosieranlagen", "#fluessig", :bereich => @bereich)
  %li  
    = link_with_arrow("Dosiertechnik Festpigment", "#fest", :bereich => @bereich)

%a#fluessig{ :name => "fluessig"}

.bar{ :class => "bereich_#{@bereich}" } 
  %h4 Flüssigdosieranlagen

#slurry
  %h3{ :class => "bereich_#{@bereich}_txt" }
    Scholz Slurry seit 1982 …
  
  = image_tag("dosiertechnik_1.jpg", :class => "bild_rechts", :width => "151", :alt => keywords)

  %ul{ :class => "bereich_#{@bereich}_square copy" }
    %li Lagerstabil
    %li Vollständig aufdispergierte Slurry garantiert volle Farbkraft 
    %li Geprüft und zugelassen durch ein akkreditiertes deutsches Prüfinstitut gem. EN 12878 für bewehrten und unbewehrten Beton
    %li Mehrwegcontainersystem
    %li auch bei Frost zu verarbeiten, passend dazu

%h3{ :class => "bereich_#{@bereich}_txt" }
  …Dosieranlagen nach Maß!

%p 
  Projektierung und Montage unserer Dosiersysteme gründen auf einer über 20jährigen Erfahrung und einer ständigen Weiterentwicklung der vielen installierten Dosieranlagen
  = image_tag("dosiertechnik_2.gif", :class => "bild_rechts", :style => "margin-top: 35px;", :alt => keywords)


%p Der Aufbau der Dosieranlagen sowie der eingesetzten Komponenten und Materialien ist auf die Anforderungen und Eigenschaften der Farbslurry abgestimmt.

%p Jede Dosieranlage wird den Bedürfnissen in Ihrem Werk angepasst...

%ul{ :class => "bereich_#{@bereich}_square copy" }
  %li Dosiergenauigkeit
  %li Anzahl der Farben und Farbgruppen
  %li Anzahl der Mischer f&uuml;r Vorsatz und Kern
  %li Dosiermengen minimal und maximal
  %li Externe oder integrierte Steuerung
  %li Produktvielfalt
  %li Platzangebot
  
  

%div{ :align => "center" }
  = image_tag("dosiertechnik-comp.jpg", :alt => keywords)

%p
  = link_to "Prospekt Dosieranlagen", "#{APP_CONFIG[:s3_path]}/pdfs/dosiertechnik/de_dosieranlage_flüssig_allgemein.pdf", :class => "icon_link_to_pdf bereich_#{@bereich}_txt dosingsystems", :target => "_blank"


%a#fest{ :name => "fest"}

.bar{ :class => "bereich_#{@bereich}" } 
  %h4 Dosiertechnik Festpigment
  
%p Wir arbeiten mit den führenden Herstellern von Dosieranlagen eng zusammen:

%div{ :align => "center"}
  %table{ :cellspacing => "0", :cellpadding => "0", :border => "0", :width => "100%"}
    %tr
      %td{ :align => "center", :valign => "middle" }
        = link_to image_tag ("logo_finke.gif", :alt => keywords) , "http://www.finke-gmbh.de", :target => "_blank"
          
      %td{ :align => "center", :valign => "middle" }
        = link_to image_tag ("logo_wuerschum.gif", :alt => keywords) , "http://www.wuerschum.de", :target => "_blank"
      
      %td{ :align => "center", :valign => "middle" }
        = link_to image_tag ("logo_kimido.gif", :alt => keywords) , "http://www.kimido.com", :target => "_blank"

%p{:style => "margin-top: 30px;"}
  = "Für spezielle Herausforderungen haben wir unser <b>EXACDOS Dosiersystem</b> entwickelt:"
%p
  = link_to "EXACDOS Dosiersystem (PDF)", "#{APP_CONFIG[:s3_path]}/pdfs/dosiertechnik/EXACDOS-System_de.pdf", :class => "icon_link_to_pdf bereich_#{@bereich}_txt exacdos", :target => "_blank"
  