= main_header ( :header => "We bring the colour" )

= mitte_bild("mittebild27.jpg")

= bereichs_subheader(@bereich, :header => "Dosing Systems")

%ul.anchor_list
  %li
    = link_with_arrow("Liquid dosing systems", "#fluessig", :bereich => @bereich)
  %li  
    = link_with_arrow("Dosing systems for powder pigments", "#fest", :bereich => @bereich)

%a#fluessig{ :name => "fluessig"}

.bar{ :class => "bereich_#{@bereich}" } 
  %h4 Liquid Dosing Systems

#slurry
  %h3{ :class => "bereich_#{@bereich}_txt" }
    Scholz Slurry since 1982...
  
  = image_tag("dosiertechnik_1.jpg", :class => "bild_rechts", :width => "151")

  %ul{ :class => "bereich_#{@bereich}_square copy" }
    %li storage stability
    %li fully dispersed Slurry guarantees full colour strength 
    %li certified and approved by an accredited German institute according to EN 12878 for reinforced and plain concrete 
    %li returnable container system
    %li even to be used with frosty temperatures and to match with

%h3{ :class => "bereich_#{@bereich}_txt" }
  …custom-made Dosing Systems!

%p 
  Planning and installation of our dosing systems are based on 20 years of experience and continuous development of the many installed dosing systems. 
  = image_tag("dosiertechnik_2.gif",  :style => "margin-top: 35px;", :class => "bild_rechts" )

%p The construction of the dosing system as well as the used components and materials are aligned to the demands and properties of colour slurries. 

%p Each dosing system will be adjusted to the individual requirements in your production plant. 

%ul{ :class => "bereich_#{@bereich}_square copy" }
  %li dosing accuracy 
  %li number of colours and colour groups 
  %li number of mixers for top and coarse layer
  %li minimum and maximum dosing amount
  %li external and internal control
  %li product variety
  %li place availability

%div{ :align => "center" }
  = image_tag("dosiertechnik-comp.jpg", :alt => keywords)

%p
  = link_to "Brochure Dosingssystems", "#{APP_CONFIG[:s3_path]}/pdfs/dosiertechnik/en_dosieranlage_flüssig_allgemein.pdf", :class => "icon_link_to_pdf bereich_#{@bereich}_txt dosingsystems", :target => "_blank"

%a#fest{ :name => "fest"}

.bar{ :class => "bereich_#{@bereich}" } 
  %h4 Dosing Systems for powder pigments
  
%p We are closely working together with leading manufacturers of dosing systems: 

%div{ :align => "center"}
  %table{ :cellspacing => "20", :cellpadding => "0", :border => "0"}
    %tr
      %td{ :align => "center", :valign => "middle" }
        = link_to image_tag ("logo_finke.gif") , "http://www.finke-gmbh.de", :target => "_blank"
          
      %td{ :align => "center", :valign => "middle" }
        = link_to image_tag ("logo_wuerschum.gif") , "http://www.wuerschum.de", :target => "_blank"

%p{:style => "margin-top: 30px;"}
  = "For special challenges, we developed the <b>EXACDOS metering system</b>:"
%p
  = link_to "EXACDOS metering system (PDF)", "#{APP_CONFIG[:s3_path]}/pdfs/dosiertechnik/EXACDOS-System_en.pdf", :class => "icon_link_to_pdf bereich_#{@bereich}_txt exacdos", :target => "_blank"