= main_header(:header => "Color well packed" ) 
  
= mitte_bild("mittebild25.jpg")

= bereichs_subheader(@bereich, :header => "Packaging")
  
.main_column
  %h3 Standard Packing: 
  %h4 Powder Pigments:
  %ul{ :class => "bereich_#{@bereich}_square" }
    %li paper bag and/or PE bag
    %li big-bag
  %h4 Liquid Colours/ -Preparations:
  %ul{ :class => "bereich_#{@bereich}_square" }
    %li disposable skeleton box
    %li returnable container (equipped with air lance): UFO, MTC
  %h3 Special Packaging (in required quantities):
  %h4 Powder Pigments:
  %ul{ :class => "bereich_#{@bereich}_square"}
    %li water soluble PVA bags
    %li low melt PE bags
    %li small PE bags
    %li can
  %h4 Liquid Colours
  %ul{ :class => "bereich_#{@bereich}_square"}
    %li PE drums
    %li bottles
  
%div{ :align => "center" }
  = image_tag("packaging-comp.jpg", :alt => keywords)