= main_header(:header => "Farbe gut verpackt")

= mitte_bild("mittebild25.jpg")

= bereichs_subheader(@bereich, :header => "Verpackungen")
  
.main_column
  %h3 Standardverpackungen: 
  %h4 Festpigmente:
  %ul{ :class => "bereich_#{@bereich}_square" }
    %li Papiersack respektive Polyethylen (PE)-Sack
    %li Big-Bag
  %h4 Fl&uuml;ssigfarben/-pr&auml;parationen:
  %ul{ :class => "bereich_#{@bereich}_square" }
    %li Einweg-Gitterboxen
    %li Mehrweg-Leihcontainer (Mit Luftlanze ausgestattet!): UFO, MTC
  %h3 Sonderverpackungen (beliebige F&uuml;llmengen):
  %h4 Festpigmente
  %ul{ :class => "bereich_#{@bereich}_square" }
    %li Wasserl&ouml;sliche PVAL-S&auml;cke
    %li Low-melt PE-S&auml;cke
    %li PE-Beutel
    %li Dosen
  %h4 Fl&uuml;ssigfarben
  %ul{ :class => "bereich_#{@bereich}_square" }
    %li PE-F&auml;sser
    %li Flaschen
  
%div{ :align => "center" }
  = image_tag("packaging-comp.jpg", :alt => keywords)