- locale_path = "Service.partner"

= main_header(:header => t("#{locale_path}.main_header"))

= mitte_bild("mittebild44.jpg")

= bereichs_subheader(@bereich, :header => t("#{locale_path}.header"))

%ul.anchor_list
  %li
    = link_to (image_tag("bayferrox_logo.jpg",:alt => "Lanxess Deutschland GmbH"), "http://www.bayferrox.de/", :bereich => @bereich,  :target => "_blank")
    %br
    = link_to t("#{locale_path}.bayferrox"), "http://www.bayferrox.de/", :target => "_blank"