- locale_path = "Service.press"

= main_header(:header => t("#{locale_path}.main_header"))

= mitte_bild("mittebild42.jpg")

= bereichs_subheader(@bereich, :header => t("#{locale_path}.header"))


%ul.anchor_list
  - Download.find_tagged_with("Presse, presse", :order => "publication_date DESC, created_at DESC").each do |download|
    %li.downloadable= link_to download_title(download), download.asset.url, :class => "arrow_link bereich_#{@bereich}_arrow_e"
