= main_header(:header => "We bring the colour")

= mitte_bild("mittebild26.jpg")

= bereichs_subheader(@bereich, :header => "We are testing for you")

%p
  = image_tag("awt-bild01.jpg", :class => "bild_rechts", :style => "margin-bottom: 20px;") 
  Research, development and regular quality control for all kinds of application of the pigments are made in our own laboratory as well as in co-operation with the Competence Centre of our main supplier LANXESS Deutschland GmbH, Krefeld. 

%p
  Special technical support for the concrete industry provides practical trials by means of a special block machine using either standard or customers' aggregates. Production samples of our customers are also tested and evaluated here, for example in respect to deviations from the expected colouring result or from the desired surface structure and solutions are worked out together with the customer.   

%table.image-row
  %tr
    %td
      = image_tag("awt-bild02.jpg", :alt => keywords )
    %td
      = image_tag("awt-bild03.jpg", :alt => keywords )
    %td  
      = image_tag("awt-bild04.jpg", :alt => keywords )
    %td  
      = image_tag("awt-bild05.jpg", :alt => keywords )
    
%p
  In addition there are long-term tests regarding stability of pigments at our weathering exposure units. 

%p
  Our competences, moreover, comprise the preparation of special formulations and colour shades in the field of paint & varnish as well as the analysis and modification of specific physical properties, such as rheology.
%p
  In this way, we are able to adapt our products in close co-operation with the customers to their individual requirements and applications.
  
%table.image-row
  %tr
    %td
      = image_tag("AWT1.jpg", :alt => keywords )
    %td
      = image_tag("AWT2.jpg", :alt => keywords )
    %td  
      = image_tag("AWT3.jpg", :alt => keywords )
    %td  
      = image_tag("AWT4.jpg", :alt => keywords )


%p
  %strong
    Problem solutions in partnership:

%ol{:class => "copy"}
  %li
    Direct assistance for finding a solution to your problems.
  %li
    Further development of Scholz Colours by means of the results and conclusions obtained from the mutual tests. 
      
%p
  Benefit from our present and steadily developed know-how, which a single concrete works might hardly reach! 
  
%p
  %strong
    Challenge us!
