= main_header(:header => "Wir machen in Farbe")

= mitte_bild("mittebild26.jpg")

= bereichs_subheader(@bereich, :header => "Wir testen für Sie")

%p
  = image_tag("awt-bild01.jpg", :class => "bild_rechts", :style => "margin-bottom: 10px" ) 
  Forschung, Entwicklung und ständige Qualitätskontrolle in eigenen Labors für alle Anwendungsgebiete der Pigmente sowie Zusammenarbeit mit den Competence Centern des Hauptlieferanten LANXESS Deutschland GmbH, Krefeld.

%p
  Spezielle Anwendungstechnik für die Betonindustrie, in der mit Hilfe einer Steinpresse mit Standard- oder Kundenzuschlägen praxisnahe Versuche gefahren werden. Auch Produktionsmuster der Kunden werden hier beispielsweise auf Abweichungen zum gewünschten Farbergebnis oder der gewünschten Oberflächenstruktur geprüft und analysiert und zusammen mit den Kunden Lösungen erarbeitet.  

%table.image-row
  %tr
    %td
      = image_tag("awt-bild02.jpg", :alt => keywords )
    %td
      = image_tag("awt-bild03.jpg", :alt => keywords )
    %td  
      = image_tag("awt-bild04.jpg", :alt => keywords )
    %td  
      = image_tag("awt-bild05.jpg", :alt => keywords )

  %div{ :style => "clear: both"}
  
%p
  Ferner werden Langzeittests bezüglich der Dauerhaftigkeit von Pigmenten auf unseren Bewitterungsständen gemacht.

%p
  Darüber hinaus gehört die Ausarbeitung von speziellen Formulierungen und Farbtönen für den Bereich Farbe & Lack ebenso zu unseren Kompetenzen, wie die Untersuchung und Modifikation spezifischer physikalischer Eigenschaften, wie z.B. Rheologie.
%p
  Hierdurch können wir unsere Produkte in enger Zusammenarbeit mit den Kunden auf ihre individuellen Bedürfnisse und Anwendungen abstimmen.

%table.image-row
  %tr
    %td
      = image_tag("AWT1.jpg", :alt => keywords )
    %td
      = image_tag("AWT2.jpg", :alt => keywords )
    %td  
      = image_tag("AWT3.jpg", :alt => keywords )
    %td  
      = image_tag("AWT4.jpg", :alt => keywords )

%p
  %strong
    Problemlösung in Partnerschaft:

%ol{:class => "copy"}
  %li
    Direkte Hilfe bei der Lösung Ihrer Probleme.
  %li
    Weiterentwicklung der Scholz-Farben mit den Erkenntnissen der gemeinsamen Versuche.
      
%p
  Profitieren Sie vom erlangten und sich ständig weiterentwickelnden Know-how, welches ein einzelnes Betonwerk wohl kaum erreichen kann!
  
%p
  %strong
    Fordern Sie uns!
