- div_for post do
  %h2= I18n.l(post.date)
  %h1{ :class => "bereich_#{@bereich}_txt"}= link_to_unless_current post_title(post), post_path(post)
  = textilize(post_content(post))
  
  - if post.pictures.present?
    %h3
      = I18n.t(:pictures_downloads)
    %ul.post_pictures
      - post.pictures.all.each_with_index do |picture,index|
        %li
          - if picture && picture.picture_file_name
            - unless picture.picture.content_type == "application/pdf"
              - type = :normal
            - else
              - type = :original  
            = link_to image_tag(picture.picture.url(:thumb), :alt => picture.picture_file_name.split('.')[0].titleize), image_path(picture.picture.url(type)), :class => "post_picture #{'view_image' if type == :normal}", :target => "#{'_blank' if type == :original}", :rel => picture.post.id
            %p.small
              = picture.picture_file_name.split('.')[0].titleize
              %br
              = "#{number_to_human_size(picture.picture_file_size)} [#{picture.picture.content_type.split("/")[1].to_s.upcase}]"
      