- locale_path = "Posts.index"
= main_header(:header => t("#{locale_path}.main_header"))
= mitte_bild("mittebild28.jpg")
= bereichs_subheader(@bereich, :header => t("#{locale_path}.header"))

= render @posts