- locale_path = "Posts.show"
= main_header(:header => t("#{locale_path}.main_header"))
= mitte_bild("mittebild28.jpg")
= link_to t("#{locale_path}.back_to_news"), posts_path, :class => "small", :style => "margin-bottom:20px;"

= render @post