%p
  = f.label :full_name, "Name"
  %br
  = f.text_field :full_name

%p
  = f.label :designation_de, "Bezeichnung (De)"
  %br
  = f.text_field :designation_de

%p
  = f.label :designation_en, "Bezeichnung (En)"
  %br
  = f.text_field :designation_en
%p
  = f.label :picture, "Bild"
  %br
  = f.file_field :picture

%p
  = f.label :position, "Position"
  %br
  = f.text_field :position
  
%p
  = f.label :people_category_id, "Kategorie"
  %br
  = f.select :people_category_id, PeopleCategory.departments.map {|d| ["#{d.parent.name_de} | #{d.name_de}", d.id]}