- content_tag :tr, person, :class => "list_item #{cycle('odd','even')}"  do 
  %td.picture= image_tag(person.picture.url(:thumb))
  %td.full_name= person.full_name + " (#{person.position})"
  %td.designation= truncate(person.designation_de,30)
  %td.button_group
    = link_to "Bearbeiten", edit_admin_person_path(person), :class => "edit_link", :title => "Bearbeiten"  
    = link_to "Löschen", admin_person_path(person), :method => :delete, :confirm => "Sind Sie sicher?", :class => "delete_link", :title => "Löschen"
    = link_to "Hoch", move_higher_admin_people_path(:id => person.id), :method => :post, :class => "move_higher_link", :title => "Position: nach oben"
    = link_to "Runter", move_lower_admin_people_path(:id => person.id), :method => :post, :class => "move_lower_link", :title => "Position: nach unten"

    