= link_go_back admin_people_path, :class => "right"

%h1="Mitarbeiter bearbeiten"

- form_for @person, :url => admin_person_path(@person), :html => { :multipart => true }, :method => :update do |f|
  = f.error_messages
  = render "form", :f => f
  = submit_button("Aktualisieren",f,:cancel_path => admin_people_path, :class => "right")
