%div{ :style => "height: 60px"}  
  = link_to "Neuen Mitarbeiter anlegen", new_admin_person_path, :class => "right person_new_link"
  %h1 Mitarbeiter

- @companies.each do |company|
  %h2{ :class => "company_header" }= company.name_de
  .company
    - company.children.each do |department|
      %h3.department_header
        = department.name_de
        %span.en= department.name_en
      %table.people{:cellspacing => "0", :cellpadding => "0", :border => "0", :"data-people_category_id" => department.id}
        %th Bild
        %th Name
        %th Bezeichnung
        - department.people.ordered.each do |person|
          = render :partial => "person", :locals => { :person => person }
          