=link_go_back admin_people_path, :class => "right"

%h1="Mitarbeiter anlegen"

- form_for @person, :url => admin_people_path, :html => { :multipart => true, :method => :post } do |f|
  = f.error_messages
  = render "form", :f => f
  = submit_button("Erstellen",f,:cancel_path => admin_people_path, :class => "right")
