= main_header

= mitte_bild("mittebild1.jpg")

= bereichs_subheader(@bereich)

.main_column
  %p
    = t(".text")
  .small.bereich_1_txt= t(".required")
    
  
  - form_for @contact_form, :url => contact_form_path, :method => :post, :builder => ContactFormBuilder do |f|
    = error_messages_for :contact_form, :header_message => "Bitte versuchen Sie es nochmal!", :message => "Es sind Fehler bei den folgenden Feldern aufgetreten."
    %fieldset
      %legend= t(".nature")
      = f.label :nature_business, "Geschäftlich"
      = f.radio_button :nature, "business"
      %br
      = f.label :nature_private, "Privat" 
      = f.radio_button :nature, "private"
      
    %fieldset
      %legend= t(".address")
      
      = f.text_field :company
      = f.text_field :full_name, :class => "required"
      = f.text_field :street, :class => "required"
      = f.text_field :zip, :class => "required"
      = f.text_field :city, :class => "required"
      = f.text_field :country, :class => "required"
      = f.text_field :phone, :class => "required"
      = f.text_field :fax
      = f.text_field :email, :class => "required"
    
    %fieldset
      %legend= t(".please_choose")
      %p
        = f.label :industry, t("contact_forms.labels.industry")
        = f.select :industry, ContactForm::INDUSTRIES, :prompt => t(".please_choose")
      %p
        = f.label :interest, t("contact_forms.labels.interest")
        = f.select :interest, ContactForm::INTERESTS, :prompt => t(".please_choose")

    %fieldset
      %legend= t(".message")
      = f.text_area :message, :class => "required"
    = raw recaptcha_tag(:ajax, :display => { :theme => 'clean'})
    = f.submit t(".submit")
    
    