= main_header

= mitte_bild("mittebild1.jpg")

= bereichs_subheader(@bereich)

.aside
  = link_to image_tag("recklingh.jpg", :alt => keywords), image_path("recklingh_gross.jpg"), :title => "Recklinghausen", :class => "view_image"
  %p.bild_sub="Recklinghausen"
  
  = link_to image_tag("partenstein.jpg", :alt => keywords), image_path("partenstein_gross.jpg"), :title => "Partenstein", :class =>"view_image"
  %p.bild_sub="Partenstein"
  
  = link_to image_tag("lohr.jpg", :alt => keywords), image_path("lohr_gross.jpg"), :title => "Lohr am Main", :class => "view_image"
  %p.bild_sub="Lohr am Main"

.main_column
  = t(".text")
  = link_to_broschure(:icon => true)
  = link_to_broschure(:icon => true, :language => 'fr-nl')
  - if I18n.locale.to_s == "de"
    = link_to "Umweltleitlinien (PDF)<br><br><br>", "http://production.harold-scholz.de/pdfs/Umweltleitlinien.pdf", :class => "icon_link_to_pdf umweltleitlinien", :target => "_blank", :onClick => "_gaq.push(['_trackEvent','Umweltleitlinien.pdf','PDF',this.href]);"
  - else
    = link_to "Environmental Guidelines (PDF)<br><br><br>", "http://production.harold-scholz.de/pdfs/environmental-guidelines.pdf", :class => "icon_link_to_pdf umweltleitlinien", :target => "_blank", :onClick => "_gaq.push(['_trackEvent','Environmental Guidelines.pdf','PDF',this.href]);"