= main_header( :header => t("contact.main_header") ) 

= mitte_bild("mittebild0.jpg")

= bereichs_subheader( @bereich, :header => t("contact.header"))

%table.center{ :cellpadding => "0", :cellspacing => "0", :border => "0", :width => "80%", :class => "countries"}
  %tr
    %td    
      %ul.contact_anchor_list
        %li
          = link_with_flag( t("country.ger"), "#germany", :class => "german" )
        %li
          = link_with_flag( t("country.ben"), "#benelux", :class => "benelux" )
        %li
          = link_with_flag( t("country.ita"), "#italy", :class => "italian")
    %td 
      %ul.contact_anchor_list
        %li
          = link_with_flag( t("country.swi"), "#switzerland", :class => "swiss")
        %li
          = link_with_flag( t("country.mar"), "#maroc", :class => "maroc")
        %li
          = link_with_flag( t("country.aus"), "#austria", :class => "austrian")

%p{ :align => "center" }
  = t("contact.email_1")
  %b
    = link_to t("contact_form").titleize, contact_form_path
  %br
    = t("contact.email_2")
  
.bar{ :class => "bereich_#{@bereich}"}
  %h4 Deutschland

#germany
.location#recklinghausen
  = image_tag("logo_scholz.gif", :style => "float:right")  

  //ZENTRALE

  %h2{ :class => "bereich_#{@bereich}_txt"}
    Zentrale

  %h3
    Harold Scholz &amp; Co. GmbH 

  - aps = [ ["Andreas Bayerl", "Export"], ["Jan-Peter Kutz", "Bau"], ["Karsten Fellmann", "Farbe & Lack, Kunststoff"], ["Gerhard Nemecek", "Präparationen, Pasten"], ["Carsten Plenker", "Spezialitäten, Carbon Black, Titandioxid"], ["Jürgen Gößling", "Einkaufsleitung"] ]

  %p
    - aps.each do |ap|  
      %b= ap[0]
      = "(#{ap[1]})" 
      %br
  
  %p
    Ickerottweg 30
    %br
    45665 Recklinghausen
    %br
  
  %p
    Tel: +49 (0) 23 61 - 9888-0
    %br
    Fax: +49 (0) 23 61 - 9888-833
    %br

  %p.last
    Kontakt: 
    = link_to t("contact_form").titleize, contact_form_path
    %br

  %div.map_container
    = map_link(51.61144,7.27535,"http://maps.google.de/maps?f=q&source=s_q&hl=de&geocode=&q=Ickerottweg+30,+45665+Recklinghausen&sll=51.618656,7.283249&sspn=0.073009,0.222988&gl=de&ie=UTF8&hq=&hnear=Ickerottweg+30,+Recklinghausen+45665+Recklinghausen,+Nordrhein-Westfalen&ll=51.612474,7.229176&spn=0.075684,0.288391&z=13&iwloc=r0")

// ZWEIGNIEDERLASSUNG PARTENSTEIN

.location#partenstein
  %h2{ :class => "bereich_#{@bereich}_txt"}
    Zweigniederlassung Partenstein
  
  %p
    %b Matthias Krimm
    %br 
    %b Inge Galka 

  %p 
    Linkgasse 4
    %br
    97846 Partenstein
    %br
  
  %p
    Tel: +49 (0) 93 55 - 97 48-0
    %br
    Fax: +49 (0) 93 55 - 97 48-622
    %br

  %p.last
    E-Mail:
    = mail_to( "info@lo.harold-scholz.de" )
    %br

    %div.map_container
      = map_link("51.151786","10.415039", "http://maps.google.de/maps?q=Linkgasse+4+97846+Partenstein&hl=de&ll=50.044463,9.511837&spn=0.001175,0.002958&sll=51.151786,10.415039&sspn=9.405339,24.23584&t=m&hnear=Linkgasse+4,+97846+Partenstein,+Unterfranken,+Bayern&z=19&iwloc=A")

//VERKAUFSBÜRO KÖLN

.location#koeln
  %h2{ :class => "bereich_#{@bereich}_txt"}
    Verkaufsbüro Köln
  
  %p
    %b Rudolf Scholz (Geschäftsführer)

  %p
    Agrippinawerft 30
    %br
    50678 Köln
   
  %p
    Tel: +49 (0) 221 - 42 03 66-0
    %br
    Fax: +49 (0) 221 - 42 03 66-10
    %br
  
  %p.last
    E-Mail:
    = mail_to ( "koeln@harold-scholz.de" )
    %br
  
    %div.map_container
      = map_link("50.919106","6.969795", "http://maps.google.de/maps?f=q&source=s_q&hl=de&geocode=&q=Agrippinawerft+30+50678+K%C3%B6ln+&sll=51.611568,7.275181&sspn=0.037843,0.111494&gl=de&ie=UTF8&hq=&hnear=Agrippinawerft+30,+K%C3%B6ln+50678+K%C3%B6ln,+Nordrhein-Westfalen&ll=50.919106,6.969795&spn=0.009266,0.027874&z=16&iwloc=r7")


//SCHOLZ DOSIERTECHNIK

.location#recklinghausen_dosiertechnik
  %h2{ :class => "bereich_#{@bereich}_txt"}
    Scholz Dosiertechnik
  
  %p 
    %b Wolfgang Glöckner

  %p
    Ickerottweg 30
    %br
    45665 Recklinghausen
    %br
  
  %p
    Tel: +49 (0) 23 61 - 98 88-0
    %br
    Fax: +49 (0) 23 61 - 98 88-833

  %p
    E-Mail: 
    = mail_to( "infoDT@harold-scholz.de" )

  %div.map_container
    = map_link("51.612474","7.229176", "http://maps.google.de/maps?f=q&source=s_q&hl=de&geocode=&q=Ickerottweg+30,+45665+Recklinghausen&sll=51.618656,7.283249&sspn=0.073009,0.222988&gl=de&ie=UTF8&hq=&hnear=Ickerottweg+30,+Recklinghausen+45665+Recklinghausen,+Nordrhein-Westfalen&ll=51.612474,7.229176&spn=0.075684,0.288391&z=13&iwloc=r0")

%p.last
  = link_to_top()

//SCHOLZ BENELUX

.bar{ :class => "bereich_#{@bereich}" }
  %h4 Benelux

.location#benelux  
  = image_tag("logo_scholz_ne.gif", :style => "float:right")  
  
  %h3
    Scholz Benelux B.V.
  
  %p
    %b Pauline Duivenvoorden

  %p
    Nude 54 D
    %br
    NL-6702 DN Wageningen
    %br
  
  %p
    NL-Tel: +31 (0)317 - 61 70 44
    %br
    NL-Fax: +31 (0)317 - 61 77 05
    %br
  
  %p
    B-Tel: +32 (0)70 69 00 09
    %br 
    B-Fax: +32 (0)70 69 00 10
    %br
  
  %p
    E-Mail:
    = mail_to( "info@scholz-benelux.nl" ) 
    %br
    Website:
    = link_to( "www.scholz-benelux.nl", "http://www.scholz-benelux.nl", :target => "_blank"  ) 

  %div.map_container
    = map_link("51.96151","5.65341", "http://maps.google.de/maps?f=q&source=s_q&hl=de&geocode=&q=Nude+54+D+NL-6702+DN+Wageningen+&sll=52.403584,7.992725&sspn=0.009295,0.027874&gl=de&g=Alte+Engterstr.+9+49565+Bramsche&ie=UTF8&hq=&hnear=Nude+54,+6702+Wageningen,+Gelderland,+Niederlande&ll=51.96151,5.65341&spn=0.009388,0.027874&z=16&iwloc=r2")
  
%p.last
  = link_to_top

//SCHOLZ SCHWEIZ


.bar{ :class => "bereich_#{@bereich}" }
  %h4 Schweiz

.location#switzerland

  = image_tag("logo_scholz_sw.gif", :style => "float:right")  
  
  %h3 Scholz Farbpigmente

  %p
    %b Peter Schär
    %br
  
  %p
    Lerzenstrasse 14
    %br
    CH-8953 Dietikon
    %br
  
  %p
    Tel: +41 (0) 44 774 16 86
    %br
    Fax: +41 (0) 44 774 16 87
    %br
  
  %p
    E-Mail:
    = mail_to("info@scholz-farbpigmente.ch")

  %div.map_container
    = map_link("47.420509","8.399155", "http://maps.google.de/maps?oe=utf-8&client=firefox-a&q=Lerzenstrasse+14+CH-8953+Dietikon&ie=UTF8&hq=&hnear=Lerzenstrasse+14,+8953+Dietikon,+Z%C3%BCrich,+Schweiz&gl=de&ei=WctXTJPkLpSoOLGtmJMJ&ved=0CBgQ8gEwAA&ll=47.420509,8.399155&spn=0.010308,0.027874&z=16&iwloc=r2")

%p.last
  = link_to_top 

//SCHOLZ ÖSTERREICH

.bar{ :class => "bereich_#{@bereich}" }
  %h4 Österreich

.location#austria

  = image_tag("logo_slupetzky.gif", :style => "float:right")  

  %h3
    Erich Slupetzky GmbH

  %p
    %b Hr. Dir. Erich Enöckel 

  %p
    Dinghofer Str. 36-38
    %br
    A-4020 Linz-Donau
    %br
  
  %p
    Tel: +43 (0) 73 - 266 20 21
    Fax: +43 (0) 73 - 266 20 2114

  %p
    E-Mail:
    = mail_to( "office.linz@slupetzky.at" )
    
  %div.map_container
    = map_link("48.29922","14.29778", "http://maps.google.de/maps?q=Erich+Slupetzky+GmbH&oe=utf-8&client=firefox-a&ie=UTF8&hl=de&hq=Erich+Slupetzky+GmbH&hnear=&radius=15000&z=16&iwloc=A")

%p.last
  = link_to_top

//SCHOLZ MAROKKO

.bar{ :class => "bereich_#{@bereich}"}
  %h4 Marokko

.location#maroc
  = image_tag("logo_maroc.gif", :style => "float:right")  

  %h3 
    Scholz Maroc

  %p
    %b Asmâa Tinasti

  %p
    Bd Mohamed VI
    %br
    km 9,100 - B.P. 6534
    %br
    20450 Casablanca

  %p
    Tel: +212 (0) 522 - 384 800
    %br
    Fax: +212 (0) 522 - 38 56 66
    %br
  
  %p 
    E-Mail:
    = mail_to("asmaa.tinasti@atlas-materiaux.com")
  
%p.last
  = link_to_top 

//SCHOLZ ITALIEN

.bar{ :class => "bereich_#{@bereich}" }
  %h4 Italien

.location#italy

  = image_tag("logo_scholz_it.gif", :style => "float:right")  

  %h3 Errebi Chimica srl

  %p
    %b Mario Radice

  %p 
    Via Torino 11
    %br
    I-20060 Bussero (Mi)
    %br
  
  %p  
    Tel: +39 (0) 2 - 95 03 93 57
    %br
    Fax: +39 (0) 2 - 95 03 85 61
    %br
  
  %p 
    E-Mail:  
    = mail_to ( "rbchimic@tin.it" )
  
  %div.map_container
    = map_link("45.52753","9.37299", "http://maps.google.de/maps?oe=utf-8&client=firefox-a&q=Via+Torino+11+I-20060+Bussero+(Mi)&ie=UTF8&hq=&hnear=Via+Torino,+11,+20060+Bussero+Mailand,+Lombardei,+Italien&gl=de&ei=3c5XTPOfA5-VOLWh4IAJ&ved=0CBcQ8gEwAA&z=16&iwloc=r2")

%p.last
  = link_to_top