= main_header

= mitte_bild("mittebild2.jpg")

= bereichs_subheader(@bereich)

= t(".text", :image => image_tag("antik_doks.jpg", :style => "float:right; margin: 10px 0 10px 6px;", :alt => keywords))

%h3= t('milestones')

= t('table_milestones')