= main_header( :header => t("Imprint.main_header"))

= mitte_bild( "mittebild0.jpg" )

= bereichs_subheader( @bereich, :header => t("Imprint.header") )

%h3 Harold Scholz & Co. GmbH

%p
  Ickerottweg 30
  %br
  45665 Recklinghausen (Suderwich)

%p
  T: +49 (0) 23 61 - 98 88-0
  %br
  F: +49 (0) 23 61 - 98 88-833

%p
  %b Geschäftsführer:
  %br
  Dipl.-Kfm. Rudolf Scholz
  %br
  Dipl.-Kfm. Heinrich Stöcker

%p
  %b Handelsregister und Registriernummer:
  %br
  AG Recklinghausen HRB 1418
  %br

%p
  %b Umsatzsteuer-ID-Nummer:
  %br
  DE 121 979 948
  %br

%p
  %b Haftungsausschluss
  
%p
  %i Inhalt
  %br
  Die Inhalte unseres Internetauftrittes wurden sorgfältig geprüft. Scholz bemüht sich ständig die Informationen zu aktualisieren und zu erweitern. Gewähr für Vollständigkeit, Korrektheit und Aktualität können wir jedoch nicht übernehmen.

%p
  %i Verweise und Links
  %br
  Hyperlinks von und auf Websites Dritter werden von Scholz nicht ständig kontrolliert. Scholz distanziert sich von den Inhalten aller Seiten, die auf ihre Website verweisen. Die Verwendung von Informationen dieser Websites geschieht auf eigene Gefahr, da die dort dargestellte Information nicht von Scholz ständig überprüft werden.

%p
  %i Urheber- und Kennzeichnungsrecht
  %br
  Das Copyright für veröffentlichte, von Scholz selbst erstellte Grafiken, Tondokumente und Videosequenzen bleibt allein beim Autor. Eine Vervielfältigung oder Verwendung dieser Objekte in anderen elektronischen oder gedruckten Medien bedarf ausdrücklich der Zustimmung von Scholz.

%p
  %i Datenschutz
  Falls innerhalb des Internetangebots die Möglichkeit zur Eingabe persönlicher oder geschäftlicher Daten besteht, geschieht diese Preisgabe der Daten durch den Nutzer auf freiwilliger Basis, also mit seiner ausdrücklichen Einwilligung zur zweckgebundenen Verwendung.

%p
  %i Rechtswirksamkeit
  Dieses Dokument versteht sich als Teil des Internetangebotes. Sofern Teile oder einzelne Formulierungen nicht mehr vollständig der Rechtslage entsprechen sollten, bleibt der übrige Teil dieses Dokumentes in Inhalt und Gültigkeit davon unberührt.

%p
  %i Hinweis zu Google Analytics
  %br
  Datenschutzrechtliche Bestimmung laut §13 Absatz 1 des Telemediendienstgesetzes (TMG) und das Bundesdatenschutzgesetz (BDSG).

  Diese Website benutzt Google Analytics, einen Webanalysedienst der Google Inc. („Google“). Google Analytics verwendet sog. „Cookies“, Textdateien, die auf Ihrem Computer gespeichert werden und die eine Analyse der Benutzung der Website durch Sie ermöglichen.

  Die durch den Cookie erzeugten Informationen über Ihre Benutzung dieser Website (einschließlich Ihrer IP-Adresse) werden an einen Server von Google in den USA übertragen und dort gespeichert. Google wird diese Informationen benutzen, um Ihre Nutzung der Website auszuwerten, um Reports über die Websiteaktivitäten für die Websitebetreiber zusammenzustellen und um weitere mit der Websitenutzung und der Internetnutzung verbundene Dienstleistungen zu erbringen. Auch wird Google diese Informationen gegebenenfalls an Dritte übertragen, sofern dies gesetzlich vorgeschrieben oder soweit Dritte diese Daten im Auftrag von Google verarbeiten.

  Google wird in keinem Fall Ihre IP-Adresse mit anderen Daten von Google in Verbindung bringen. Sie können die Installation der Cookies durch eine entsprechende Einstellung Ihrer Browser Software verhindern; wir weisen Sie jedoch darauf hin, dass Sie in diesem Fall gegebenenfalls nicht sämtliche Funktionen dieser Website in vollem Umfang nutzen können. 

  Durch die Nutzung dieser Website erklären Sie sich mit der Bearbeitung der über Sie erhobenen Daten durch Google in der zuvor beschriebenen Art und Weise und zu dem zuvor benannten Zweck einverstanden.

  = "Quelle: "
  = link_to "http://www.google.com/intl/de_ALL/analytics/tos.html","http://www.google.com/intl/de_ALL/analytics/tos.html"
