= main_header

= mitte_bild("mittebild0.jpg")

-# .banner{:style => "margin: 0 0 30px 0; text-align:center; border-bottom:1px solid #ccc; padding-bottom:25px;"}
-#   = link_to image_tag("ecs_banner_2011.gif", :alt => keywords),"http://www.european-coatings-show.com"

.main_column
  .aside.home
    = image_tag("alte_schriften.jpg", :alt => keywords)
  = bereichs_subheader(@bereich)
  = t(".text")
  
  %h3{ :class => "bar bereich_#{@bereich}"}
    = link_to t("sub_menu.news"), posts_path
  .news
    %ul.posts
      - posts = newest_posts(I18n.locale.to_s, :length => 3)
      - posts.each do |post|
        %li.post
          %p.small= I18n.l(post.date)
          = link_to post_title(post), post_path(post)
    = link_with_arrow("mehr", posts_path, :class => "small")
          

