= main_header

= mitte_bild("mittebild0.jpg")

= bereichs_subheader( @bereich, :header => t(".header") )

%ul#sitemap_main_nav
  
  = render :partial => "shared/main_nav"

  = render :partial => "shared/top_nav"