= main_header( :header => t(".main_header"))

= mitte_bild( "mittebild0.jpg" )

= bereichs_subheader( @bereich, :header => t(".header") )

%p ECOPROFIT stands for "Ecological project for integrated environmental technology“. It focuses on the co-operation of companies, municipalities and experts with the aim to increase a company’s cost effectiveness and, at the same time, to protect the environment.


%p We have been accompanied step by step during the introduction of our company’s environmental management system ECOPROFIT by a combination of workshops and complementary consultancy services by ECOPROFIT consultants. We would like to highlight particularly the ecological and economic savings achieved by this approach.

= image_tag("logo-oekoprofit.jpg", :class => "left")
%p= "During the past 12 months we have dealt intensively with subjects such as reduction of water and energy consumption, waste minimization and increase of material efficiency. The project provided an incentive for us to continually develop further in the future and thus to enhance sustainability. Our environmental guideline reflects our responsible approach to the environment. Please #{ link_to 'click here', 'http://production.harold-scholz.de/pdfs/environmental-guidelines.pdf', :target => '_blank', :onClick => '_gaq.push(["_trackEvent","#{download.title}","PDF",this.href]);'} to download our detailed environmental guidelines."

= link_to "Ökoprofit-Zertifikat<br><br><br>", "http://production.harold-scholz.de/pdfs/oekoprofit-zertifikat-original-en.pdf", :class => "icon_link_to_pdf oekoprofit-zertifikat", :target => "_blank", :onClick => "_gaq.push(['_trackEvent','oekoprofit-zertifikat-original.pdf','PDF',this.href]);"



