= main_header( :header => t(".main_header"))

= mitte_bild( "mittebild0.jpg" )

= bereichs_subheader( @bereich, :header => t(".header") )

%p ÖKOPROFIT steht für „Ökologisches Projekt Für Integrierte Umwelt Technik“. Hierbei steht die Zusammenarbeit von Unternehmen, Kommunen und Experten mit dem Ziel, die Wirtschaftlichkeit eines Unternehmens zu steigern und dabei die Umwelt zu schonen, im Vordergrund.


%p In einer Kombination aus Workshops mit begleitender Beratung durch ÖKOPROFIT Consultants wurden wir Schritt für Schritt bei der Implementierung des betrieblichen Umweltmanagementprogramms ÖKOPROFIT begleitet. Besonders hervorzuheben sind hierbei die durch das Vorgehen erzielten ökologischen wie auch ökonomischen Einsparungen.

= image_tag("logo-oekoprofit.jpg", :class => "left")
%p= "Innerhalb der letzten 12 Monate haben wir uns intensiv mit Themen wie Reduzierung des Wasser- und Energieverbrauchs, des Abfalls und die Erhöhung der Materialeffizienz befasst. Das Projekt war für uns ein Anstoß, uns auch zukünftig kontinuierlich weiterzuentwickeln und so die Nachhaltigkeit zu stärken. Dabei helfen uns auch die vorliegenden Umweltleitlinien, die unseren verantwortlichen Umgang mit der Umwelt widerspiegeln. #{ link_to 'Hier', 'http://production.harold-scholz.de/pdfs/Umweltleitlinien.pdf', :target => '_blank', :onClick => '_gaq.push(["_trackEvent","#{download.title}","PDF",this.href]);'} finden Sie unsere detaillierten Umweltleitlinien als PDF."

= link_to "Ökoprofit-Zertifikat<br><br><br>", "http://production.harold-scholz.de/pdfs/oekoprofit-zertifikat-original.pdf", :class => "icon_link_to_pdf oekoprofit-zertifikat", :target => "_blank", :onClick => "_gaq.push(['_trackEvent','oekoprofit-zertifikat-original.pdf','PDF',this.href]);"