id,title_de,title_en,created_at,updated_at
<%= FasterCSV.generate do |csv|
  @color_names.each do |color_name|
    csv << [ color_name[:id],color_name[:title_de],color_name[:title_en],color_name[:created_at],color_name[:updated_at] ]
  end
end %>
