%table{ :width => "100%", :cellspacing => "0", :cellpadding => "0", :class => "product", :id => "product_#{product.id}", :style => "table-layout: fixed" }
  %tr{ :height => "50"}
    %td
      %b= product.number
      .small= " (#{localized_attr_for(product_group, :title)}, #{localized_attr_for(color_name,:title).titleize})"
      - unless localized_attr_for(product, :info).blank?
        %p.small.product-info
          = "<b>Info</b>: #{localized_attr_for(product, :info)}"
    = color_cell(product,product.shade_1, application_field, color_name, product_group)
    %td{ :width => "4"}
    = color_cell(product,product.shade_2, application_field, color_name, product_group)