- content_for :title do
  = "#{localized_attr_for(@application_field, :title).upcase} | #{t("Application_fields.show.product_groups")}: #{@product_groups.map {|pg| pg.localized_title }.join(", ") if @product_groups.present?}"

= mitte_bild("#{@application_field.permalink}.jpg")

- if @application_field.send("main_header_#{I18n.locale.to_s}").present?
  = main_header(:header => @application_field.send("main_header_#{I18n.locale.to_s}"))
- else
  - if @application_field.id == 11
    = main_header(:header => t("ApplicationFields.show.#{@application_field.parent.present? ? @application_field.parent.permalink.underscore : @application_field.permalink.underscore}.main_header"))
  - else
    = main_header(:header => t("ApplicationFields.show.default_main_header"))
= bereichs_subheader(@bereich, :header => localized_attr_for(@application_field, :title))

.ap_text
  = simple_format(localized_attr_for(@application_field, :text))
  
  - if [200,300,400,500,600].include?(@application_field.id) 
    %ul.anchor_list
      %li.first 
        %h4 Service
      %li= link_to t("sub_menu.packaging"), packaging_path, :class => "arrow_link bereich_#{@bereich}_arrow_e"
      %li= link_to t("sub_menu.technical_support"), technical_support_path, :class => "arrow_link bereich_#{@bereich}_arrow_e"
      %li= link_to t("sub_menu.dosing_systems"), dosing_systems_path, :class => "arrow_link bereich_#{@bereich}_arrow_e"
  
- if @application_field.downloads.present?
  %div{ :class => "download_teaser" }
    %h4{ :class => "bar bereich_#{@bereich}" } Downloads
    %p.info= t("Application_fields.show.download_info")
    %ul.downloads_list
      - @application_field.downloads.send(I18n.locale.to_s).limit(5).each do |download|
        %li= link_to( download.title, download.asset.url, :class => "arrow_link bereich_#{@bereich}_arrow_e", :target => "_blank" )
    - unless @application_field.downloads.send(I18n.locale.to_s).size <= 3
      = link_with_arrow t(:more), downloads_path(:anchor => @application_field.permalink), :class => "small", :bereich => @bereich
  
- if @product_groups.present?
  
  .links_to_broschures
    - if @application_field.parent_id == 11 && @application_field.id != 700 #Bauindustrie aber nicht farbiger Asphalt
      = link_to_lanxess_shade_card(:bereich => @bereich)
      = link_to_scholz_shade_card(:bereich => @bereich)
    - elsif @application_field.parent_id == 12 #Farben und Lacke
      = link_to_scholz_coatings(:bereich => @bereich)
      = link_to_scholz_shade_card(:bereich => @bereich)
    - elsif @application_field.id == 13 #Kunststoffe
      = link_to_scholz_shade_card(:bereich => @bereich)
      = link_to_lanxess_plastics_shade_card(:bereich => @bereich)
    - if @application_field.id == 1200 || @application_field.id == 1400 || @application_field.id == 1600 || @application_field.id == 2102 || @application_field.id == 2103 || @application_field.id == 2104 || @application_field.id == 1500 
      = link_to_scholz_pigment_preparations_card(:bereich => @bereich)
  %p.note
    %b= t("Application_fields.show.notice_header")
    =t ("Application_fields.show.notice")
        
        
  -# %ul.anchor_list
  -#   - @product_groups.each do |product_group|
  -#     %li= link_with_arrow localized_attr_for(product_group, :title), "##{product_group.permalink}", :bereich => @bereich
      
  %ul#accordion
    - @product_groups.each do |product_group|
      %li
        = link_to localized_attr_for(product_group, :title), "##{product_group.permalink}", :class => "heading bereich_#{@bereich}", :name => product_group.permalink
        = render product_group, :locals => {:application_field => @application_field}

  %p.very_small
    = t("Application_fields.show.text_1") 

  %p.very_small
    = t("Application_fields.show.text_2")
