<!DOCTYPE HTML>
%html{ :xmlns => "http://www.w3.org/1999/xhtml", :lang => I18n.locale }
  %head
    %meta{ :"http-equiv" => "Content-Type", :content => "text/html; charset=UTF-8"}
    %title= title
    = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js', 'admin', 'jquery.fancybox-1.3.1', 'colorpicker'
    = stylesheet_link_tag 'admin', 'jquery.fancybox-1.3.1', 'colorpicker'
    
  %body{ :class => "#{controller_name}"}
    %header#main
      %h1.admin_section
        = "Admin-Bereich <span class='small'>(logged in als: #{current_user.login} <b>#{link_to "Logout", logout_path}</b>)</span>"
      #tabs
        %ul#main_tabs
          %li= link_to_unless_current "News", admin_posts_path, :controller => "admin_posts"
          %li= link_to_unless_current "Mitarbeiter", admin_people_path
          %li= link_to_unless_current "Produktgruppen", admin_product_groups_path
          %li= link_to_unless_current "Supergruppen", admin_super_groups_path
          %li= link_to_unless_current "Produkte/Farben", admin_products_path
          %li= link_to_unless_current "Downloads", admin_downloads_path
          %li= link_to_unless_current "Anwendungsgebiete", admin_application_fields_path
          %li= link_to_unless_current "Stellenausschreibungen", admin_jobs_path
    #wrapper
      %table#layout
        %tr
          %td.left
            %section#content
              - if flash[:notice]
                .flash_notice
                  = flash[:notice]
              = yield
          %td.right
            = link_to image_tag("logo_scholz.gif"), root_path, :class => "logo"
          