<!DOCTYPE HTML>
%html{ :lang => "de" }
  %head
    %meta{ :"http-equiv" => "Content-Type", :content => "text/html; charset=UTF-8"}
    %meta{ :"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1"}
    %title= "Harold Scholz & Co GmbH | #{yield(:title) || title}"
    %meta{ :name => "description", :content => yield(:meta_desc) || meta_desc }
    %meta{ :name => "keywords", :content => keywords }
    = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js', 'application', 'jquery.fancybox-1.3.1', 'jquery.accordion', 'chili-1.7.pack', 'jquery.dimensions', 'jquery.easing'
    = stylesheet_link_tag 'scholz', 'jquery.fancybox-1.3.1'
    = stylesheet_link_tag 'print', :media => "print"
    = yield :javascript
    = render :partial => "shared/google_analytics"
  %body{ :class => "#{controller_name} bereich_#{@bereich if @bereich} bereich_#{@bereich if @bereich}_textur"}
    %a{:id => "top"}
    - if flash[:notice]
      .flash_notice
        = flash[:notice]
    .center_box
      -# .leaderboard_banner{:style => "text-align: center; background-color: white; margin-bottom: 1px;"}
      %header#main
        = link_to image_tag("logo_scholz_#{I18n.locale.to_s}.jpg", :alt => keywords), root_path, :class => "logo"
        %ul#header_nav
          = render :partial => "shared/top_nav"
          %li= link_to_unless_current "Sitemap", sitemap_path, :rel => "nofollow" 
          %li.last= link_to t("header_nav.print"), "javascript:window.print()", :confirm => t("header_nav.print_message"), :class => "link_print", :rel => "nofollow" 
          %li.flag_label
            - if I18n.locale.to_s == 'de'
              = link_to("englisch", url_for( :locale => 'en'), :class => "choose_lang en", :rel => "nofollow" ) 
            - else
              = link_to("deutsch", url_for( :locale => 'de'), :class => "choose_lang de", :rel => "nofollow" )            
              
        %h1{ :class => "bereich_#{@bereich}_txt" }= yield(:main_header)
      = link_to t(:contact_button), contact_form_path, :id => "contact_button"
      %ul#main_nav
        
        = render :partial => "shared/main_nav"
        
      %section#mitte_bild
        = yield :mitte_bild

      %section#content
        = yield    
      
      %footer#main_footer
        = "&copy; 2005 webdesign: bohlen design &amp; kommunikation"
        = " |&nbsp;"
        = link_to "www.bohlen-design.de", "http://www.bohlen-design.de", :target => "_blank"
